Flows Node-red/HMI.json
[
    {
        "id": "74b3f5a5948db5fe",
        "type": "tab",
        "label": "Interfaz Usuario",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a4516b0f3dcdcb57",
        "type": "tab",
        "label": "HMI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "514fe8141139fefe",
        "type": "tab",
        "label": "Historico Datos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d600916cb2a725b1",
        "type": "group",
        "z": "a4516b0f3dcdcb57",
        "name": "Sensor 2",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "68c7963e25c46065",
            "44c3a9fea024eaa1",
            "1a71075a2e105daa",
            "6359dd0746474205",
            "9db23e9d7be60c28",
            "00bb768ff73f348c",
            "b2b98a7b8e5a04e3",
            "029deecc00112af5",
            "58813ebd6c143a71",
            "c672d7137d7c10b6",
            "60bed1954078294c",
            "c7b1e19ee389aeb9",
            "4a731cb6c50fbf00",
            "a75e3337f7e428a0",
            "fa6762193ee7fef2",
            "ac3d246bb719b99d",
            "207aaf641208e838",
            "b0a44694e66a39fa"
        ],
        "x": 54,
        "y": 1459,
        "w": 1072,
        "h": 662
    },
    {
        "id": "179a4a14db85519b",
        "type": "group",
        "z": "a4516b0f3dcdcb57",
        "name": "Sensor 1",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d0c59654f540c5f5",
            "3f7684de8cb585f1",
            "2724824d3183a52b",
            "5d18edce519f6031",
            "ad492ca2c731e15b",
            "c4e87d1e2e4c284e",
            "d90f64e0bc48969b",
            "903e644e6c88bb8e",
            "0df73ff52a2b2a94",
            "e9855d5d1a479df8",
            "f004662100625e3d",
            "623c4989f3285ff8",
            "0acab8738978ebbb",
            "df90700119afcec5",
            "e7b34be932a93d57",
            "62c4e8c01b00e57e",
            "57df8c14e1597343",
            "772035f5bb99bf38",
            "dd790b0d02040bf1",
            "c8366e335711b9f7"
        ],
        "x": 54,
        "y": 699,
        "w": 1052,
        "h": 742
    },
    {
        "id": "0fd1a56ed2e67924",
        "type": "group",
        "z": "74b3f5a5948db5fe",
        "name": "Gestion Log In",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "592eeb5df4602463",
            "2f53a2f781fa4b15",
            "375332803c99270f",
            "5991256b728d8a9e",
            "5c8347768e68b57c",
            "67922d58bc03ca71",
            "551c158aceba2218",
            "caf2ba263d4ef942",
            "d79feedd5dfe2afd",
            "70cae173873a3acc",
            "1c2826b4780f3b6c",
            "38665b74988f5f38",
            "2d752b23348740ef",
            "3c3bc528a12b9bd1",
            "f3e77ba1fb1ba8c4",
            "b07f1edbbf17deb6",
            "167669d7dda4f010",
            "988b6270edf53336",
            "3f149aa2222efbbe",
            "68318e4b90890d2b",
            "e8dc5af6c170bfce"
        ],
        "x": 54,
        "y": 439,
        "w": 2532,
        "h": 442
    },
    {
        "id": "7c8f429d48ea2794",
        "type": "group",
        "z": "74b3f5a5948db5fe",
        "name": "Registro",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "47c5935a8e66eb94",
            "b8c0402c4c77018c",
            "74e98f5f651c2a31",
            "822c4419727a0b05",
            "fea0cf8dfc82e3c0",
            "1df7a8f87534c104",
            "f73a9d2849022d06",
            "c4644b06dc1e5e7e",
            "a7e7f845a76910b4",
            "8e0c8e5ce2bb4d59",
            "a252215ee5e02c31",
            "27b5084ffdc237fc",
            "9a2245a2af217dab",
            "3db2ea605e13442e",
            "1eef77ee0ae55026",
            "628decd990e2241d",
            "9baf8c6b2f103749"
        ],
        "x": 54,
        "y": 919,
        "w": 2272,
        "h": 362
    },
    {
        "id": "94339bdefa772aa6",
        "type": "group",
        "z": "514fe8141139fefe",
        "name": "Gestion de seleccion",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f8e070c170e46420",
            "5ca938de3cdfc2e6",
            "015d433b49ee632a",
            "2840e3256f9db741",
            "5959f5924a70a019",
            "abb7a533be135ec4",
            "43e83335b7509999",
            "939601692369390b",
            "c3ba3f37c1118569",
            "0319ce208e915dea",
            "a1177aaad098fe00",
            "af87abb2d04ab60d",
            "174c6cb80233e759",
            "0704e2f810f31147",
            "8e7d0c32646179f1"
        ],
        "x": 74,
        "y": 19,
        "w": 652,
        "h": 602
    },
    {
        "id": "7b68953bb1b81556",
        "type": "group",
        "z": "514fe8141139fefe",
        "name": "Sensor 1 HD",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "21b671b1720e88e8",
            "2407d5f63e5ef991",
            "a4b33e118aa2d8fa",
            "65383d40f3fa7a44",
            "f8cd7fe3f5a24ff2",
            "9f53fa4b8a538ab3",
            "c39879c9c149c52c",
            "4ecc984c837c4ff2",
            "d6916fe78551d396",
            "584879fde26f2969",
            "30aee3cdbd8db034",
            "ebbe0be916c00b40",
            "a79739e863012a04",
            "287abe0edca7aa2b",
            "661eebc3e1918e8f",
            "158d92458940f0da",
            "9376949fa6d5145f",
            "ee79726cfdb44df6",
            "d50d818dd2d2622f",
            "77fe28509a3ee134",
            "29fc3cf461d33fb0"
        ],
        "x": 74,
        "y": 899,
        "w": 1292,
        "h": 342
    },
    {
        "id": "c098fd6a3c3419b8",
        "type": "group",
        "z": "514fe8141139fefe",
        "name": "Sensor 2 HD",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6f2cbfe29033feba",
            "31f155eff75f7aaf",
            "24dc0d0a7bd18ad9",
            "628bf68834570e28",
            "0a722b06d8ca72cb",
            "ec97503e4af9fe51",
            "c872842be0b4a8a7",
            "1b7d44aafd9fb4a8",
            "c3bc03ab1cd8acaf",
            "39df449fc597d7c9",
            "cd4bbe539da93e61",
            "eb6305021ad3eb2a",
            "94c13a56e70f91e6",
            "04c3dcd46be5f9cd",
            "a6cd626bbd2127be",
            "a8901fa6f7445fae",
            "1b4e161547d17f0b",
            "eea06edbb20f411e",
            "acbe5ca20e447cf8",
            "f682b4e1cf17081c",
            "b77caf2db4bebb67"
        ],
        "x": 74,
        "y": 1299,
        "w": 1272,
        "h": 342
    },
    {
        "id": "3d87d3a70cb03c9d",
        "type": "group",
        "z": "514fe8141139fefe",
        "name": "Sensor 3 HD",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1b05594fa991d37a",
            "7ad8ada94da5ef92",
            "4fcc47743d2b4723",
            "896987d134f0edda",
            "8c929869ca773651",
            "0362bd380e50c773",
            "c3859f8361d8b830",
            "e36ab562f3b82dd2",
            "5ade8d52d28c8cd4",
            "9bf039398a2aff3c",
            "512e42c2046c0dd3",
            "992d9d07de2a9ab3",
            "bd27fcf3bf7c5767",
            "40bc20579de90adc",
            "460d9ed8cfb0c8ec",
            "1e3caa8e82c3b1ef",
            "0774c32735e4a8fa",
            "e5c62c03e30e77fa",
            "e863d0d1a6cdd05c",
            "eb1475cedc4e1cba",
            "42427468bab8c3cc"
        ],
        "x": 74,
        "y": 1679,
        "w": 1272,
        "h": 342
    },
    {
        "id": "8f26310f91cb172d",
        "type": "group",
        "z": "514fe8141139fefe",
        "name": "Gestión de pantallas",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "69a431b5dba83664",
            "deb57a6c88850ba7",
            "ded123bd9b4a97a8",
            "ed030aa209e8d6f5",
            "2d362bf1392e6bb4",
            "3b7a2eb207fc1517",
            "4fe8b7259038d75a",
            "02a11ed131e71128",
            "28578769e9a2544a",
            "5aed38f196a759ef",
            "43e242ecf1abfea8",
            "79c4ad5f378d5756",
            "a198a8fa459b30d5",
            "dd1f799685a0708b",
            "3a3eff88390ea859",
            "4bb76e5b5d6d3eab",
            "e258c17ac86e78aa",
            "c9f7814583066c3d",
            "565d3f306e478010",
            "3cf20d3913644aae",
            "728b9e35c41fe255"
        ],
        "x": 994,
        "y": 39,
        "w": 672,
        "h": 722
    },
    {
        "id": "eff0459317d8711f",
        "type": "group",
        "z": "a4516b0f3dcdcb57",
        "name": "Gestion de pantallas",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2b3bb4e1e32412f3",
            "c6873297fa8a4c06",
            "52eeb917c692e55d",
            "deb264307cc112c7",
            "4e5da31cd33380a1",
            "f1487042a88fe67c",
            "00049a922f6ee885",
            "51a3a7c4418f62fb",
            "531639dfd9b96f52",
            "c4ec8f6a11d504ab",
            "776fb3cf78e98c1f",
            "e08c6cc42751f784",
            "053d99e5441785ad",
            "c16766b4a4ed422d",
            "025fe8cdbc9cdf79",
            "6846e960dd5c23a1",
            "adb2e82aa7211313"
        ],
        "x": 54,
        "y": 39,
        "w": 752,
        "h": 622
    },
    {
        "id": "5fc456465d7bf386",
        "type": "group",
        "z": "74b3f5a5948db5fe",
        "name": "Gestion de pantallas",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "46bfcd28e039218f",
            "44a53a77ac6e5fdc",
            "434c1ba1092d4f29",
            "988a21464ed11ec4",
            "872f31fb66610fc0",
            "50910b5a16b31a24",
            "d2b9723939860619",
            "945eda50bbee7814",
            "2e64bb96c80f4ca5",
            "3407b5dc0c3bbd2a"
        ],
        "x": 54,
        "y": 39,
        "w": 872,
        "h": 362
    },
    {
        "id": "17f447fd999445a4",
        "type": "ui_tab",
        "name": "HMI",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cfa0e8765c550f0c",
        "type": "ui_group",
        "name": "Sensor 1",
        "tab": "17f447fd999445a4",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c0b703d942eb6c60",
        "type": "ui_group",
        "name": "Sensor2",
        "tab": "17f447fd999445a4",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9bef1ac80a915ab",
        "type": "ui_group",
        "name": "Sensor 3",
        "tab": "17f447fd999445a4",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "affe97e1e2ba3331",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": "",
        "height": ""
    },
    {
        "id": "f123b7bdb16573e1",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "7c0272248fc33e2a",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "bd6f1e62804d2345",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "439476c3d008f300",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "49a5fb5d8532f2a1",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "6de164e1251bb174",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 5,
        "height": 1
    },
    {
        "id": "9d6fc84d947f9dc8",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 5,
        "height": 1
    },
    {
        "id": "1e7ed127dcdd4a4e",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "208eb4010515bbfc",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 14,
        "width": 5,
        "height": 1
    },
    {
        "id": "3d0a45aeb220a426",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "42d5d33fa0b37170",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "10fed7c1fbd5d4f5",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "50b306d2116e854a",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "8169890b4558cd7a",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "8204c1f8fe4d0c8f",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "72cd78f8ceb12c87",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e3cb1dcf7582d16a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f7ecda5fcd174e5d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.111",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "44959e2298574f6f",
        "type": "ui_tab",
        "name": "Interfaz usuario",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e12f71a0e0e58c85",
        "type": "ui_group",
        "name": "Login",
        "tab": "44959e2298574f6f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f5c3f6e56d803e9a",
        "type": "ui_group",
        "name": "Registrarse",
        "tab": "44959e2298574f6f",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "51a9761f08dd8002",
        "type": "ui_group",
        "name": "Imagen2",
        "tab": "44959e2298574f6f",
        "order": 4,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e9a99ba84a9c7bb",
        "type": "ui_group",
        "name": "Imagen1",
        "tab": "44959e2298574f6f",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "18cda8a4ddef503b",
        "type": "sqlitedb",
        "db": "/Users/angel/Documents/Universidad/Asignaturas_cuarto/Trabajo_TFG/Otros (HMi,BDD)/Base_de_datos_Red_IoT.db",
        "mode": "RW"
    },
    {
        "id": "f84c005bee7b23ec",
        "type": "sqlitedb",
        "db": "/Users/diego/Downloads/GestionUsuarios.db",
        "mode": "RW"
    },
    {
        "id": "675cc9d278d84f3e",
        "type": "ui_group",
        "name": "Log in",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b809f2e7b79c8a8e",
        "type": "ui_group",
        "name": "Sign up",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "710d72773907b5d7",
        "type": "ui_group",
        "name": "Extras",
        "tab": "17f447fd999445a4",
        "order": 4,
        "disp": false,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd550bb36f65a51d",
        "type": "ui_tab",
        "name": "Historico datos",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "518740a4cae77def",
        "type": "ui_group",
        "name": "Sensor 1",
        "tab": "cd550bb36f65a51d",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c853fbf10a2cdb5e",
        "type": "ui_group",
        "name": "Sensor 2",
        "tab": "cd550bb36f65a51d",
        "order": 2,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5f4919c21cd6839",
        "type": "ui_group",
        "name": "Sensor 3",
        "tab": "cd550bb36f65a51d",
        "order": 3,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef7383d234d514af",
        "type": "ui_tab",
        "name": "Sensor 1",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ea506e62e086912f",
        "type": "ui_tab",
        "name": "Sensor 2",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "18bdb7d1c15003e1",
        "type": "ui_tab",
        "name": "Sensor 3",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a5c9dddb92dfed30",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "ef7383d234d514af",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c35121c63d7752a2",
        "type": "ui_group",
        "name": "Presion",
        "tab": "ef7383d234d514af",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "370e412b4dc841b8",
        "type": "ui_group",
        "name": "Humedad relativa",
        "tab": "ef7383d234d514af",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "08ce921bbf4245dd",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "ea506e62e086912f",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "05147ca138bc75e5",
        "type": "ui_group",
        "name": "Presion",
        "tab": "ea506e62e086912f",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb653075e5af83b8",
        "type": "ui_group",
        "name": "Humedad relativa",
        "tab": "ea506e62e086912f",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e11d10f97cb5552b",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "18bdb7d1c15003e1",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8097bc13feca37fb",
        "type": "ui_group",
        "name": "Presion",
        "tab": "18bdb7d1c15003e1",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "313dfd5f6cee5a51",
        "type": "ui_group",
        "name": "Humedad relativa",
        "tab": "18bdb7d1c15003e1",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "afc8eb1efbf3b5e6",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "a5c9dddb92dfed30",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "1a57b372ceddf756",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "c35121c63d7752a2",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "c5652b159179e7b2",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "c35121c63d7752a2",
        "order": 5,
        "width": 9,
        "height": 1
    },
    {
        "id": "2df92307581681f9",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "c35121c63d7752a2",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "90721f9928e4631f",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "c35121c63d7752a2",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "7566f8136f9e3330",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "370e412b4dc841b8",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d805debb239786e",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "08ce921bbf4245dd",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f9f93c45186f7dd8",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "05147ca138bc75e5",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "74d3bd9056097429",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "05147ca138bc75e5",
        "order": 5,
        "width": 9,
        "height": 1
    },
    {
        "id": "b2d73961d08067f6",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "05147ca138bc75e5",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "a6dd791c45d6e6e5",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "05147ca138bc75e5",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "a98c029c5cc5c414",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "fb653075e5af83b8",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "8137d5c317896026",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "e11d10f97cb5552b",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "7b34a63025aed16a",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "8097bc13feca37fb",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a661c0055a04d848",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "8097bc13feca37fb",
        "order": 5,
        "width": 9,
        "height": 1
    },
    {
        "id": "8fb278b6036346d2",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "8097bc13feca37fb",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "c85f025319636546",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "8097bc13feca37fb",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "5a180911447a2911",
        "type": "ui_spacer",
        "z": "514fe8141139fefe",
        "name": "spacer",
        "group": "313dfd5f6cee5a51",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "66d4eede15462843",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "61e8f3ca83cc46db",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "a9b249ae65fbc979",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "9907f486cec4f0a2",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "c8c423a489037fb0",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "608d492fb09e2b43",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "26d11f4d8904741f",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "5f213f0ef6967cdb",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "fe33166f81a5c80a",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "ba976b641a493435",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "ead3d747ad76849f",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "b9d36c4c9454b6b1",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "cfa0e8765c550f0c",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e19d769262c2b75",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c0b703d942eb6c60",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "cc10b610b852bebd",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c0b703d942eb6c60",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "65d6c0327ef165a9",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c0b703d942eb6c60",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "6fc64c61d04caf4a",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c0b703d942eb6c60",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "e627d9ebc6ce115d",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c0b703d942eb6c60",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "1ccdae2581cc5363",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c0b703d942eb6c60",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "93b21a07ec34ac77",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c9bef1ac80a915ab",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "26da42373036b018",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c9bef1ac80a915ab",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b55a31c1ed6275fd",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c9bef1ac80a915ab",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "029a11e9d516e8e8",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c9bef1ac80a915ab",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "40ba4138624e5a6c",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c9bef1ac80a915ab",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "ec3df6b25a870170",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "c9bef1ac80a915ab",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "d3adec856fd4de34",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "710d72773907b5d7",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "852c68d53419c5bd",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "710d72773907b5d7",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "6c665c16598ec9ac",
        "type": "ui_spacer",
        "z": "a4516b0f3dcdcb57",
        "name": "spacer",
        "group": "710d72773907b5d7",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "592eeb5df4602463",
        "type": "ui_text_input",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "",
        "label": "Nombre",
        "tooltip": "",
        "group": "e12f71a0e0e58c85",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Nombre",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 520,
        "y": 560,
        "wires": [
            [
                "67922d58bc03ca71"
            ]
        ]
    },
    {
        "id": "2f53a2f781fa4b15",
        "type": "ui_text_input",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "",
        "label": "Primer Apellido",
        "tooltip": "",
        "group": "e12f71a0e0e58c85",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "PrimerApellido",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 520,
        "y": 640,
        "wires": [
            [
                "67922d58bc03ca71"
            ]
        ]
    },
    {
        "id": "375332803c99270f",
        "type": "ui_text_input",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "",
        "label": "Segundo Apellido",
        "tooltip": "",
        "group": "e12f71a0e0e58c85",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "SegundoApellido",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 530,
        "y": 720,
        "wires": [
            [
                "67922d58bc03ca71"
            ]
        ]
    },
    {
        "id": "5991256b728d8a9e",
        "type": "ui_button",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "",
        "group": "e12f71a0e0e58c85",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log In",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "5c8347768e68b57c",
                "caf2ba263d4ef942"
            ]
        ]
    },
    {
        "id": "47c5935a8e66eb94",
        "type": "ui_form",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "",
        "label": "",
        "group": "f5c3f6e56d803e9a",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nombre",
                "value": "Nombre",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Primer Apellido",
                "value": "PrimerApellido",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Segundo Apellido",
                "value": "SegundoApellido",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Rol",
                "value": "Rol",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Nombre": "",
            "PrimerApellido": "",
            "SegundoApellido": "",
            "Rol": ""
        },
        "payload": "",
        "submit": "Registrar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "74e98f5f651c2a31"
            ]
        ]
    },
    {
        "id": "5c8347768e68b57c",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "Borrar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "592eeb5df4602463",
                "2f53a2f781fa4b15",
                "375332803c99270f"
            ]
        ]
    },
    {
        "id": "67922d58bc03ca71",
        "type": "join",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "Union",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 790,
        "y": 660,
        "wires": [
            [
                "551c158aceba2218"
            ]
        ]
    },
    {
        "id": "551c158aceba2218",
        "type": "function",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "Consulta usuario",
        "func": "msg.topic = \"SELECT * from Usuarios where Nombre= $nombre and Primer_Apellido= $PrimerApellido and Segundo_Apellido=$SegundoApellido\"\nmsg.payload = [msg.payload.Nombre, msg.payload.PrimerApellido, msg.payload.SegundoApellido];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 660,
        "wires": [
            [
                "1c2826b4780f3b6c"
            ]
        ]
    },
    {
        "id": "b8c0402c4c77018c",
        "type": "function",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "Consulta usuario",
        "func": "msg.topic = \"SELECT * from Usuarios where Nombre= $nombre and Primer_Apellido= $PrimerApellido and Segundo_Apellido=$SegundoApellido\"\nmsg.payload = [msg.payload.Nombre, msg.payload.PrimerApellido, msg.payload.SegundoApellido];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1060,
        "wires": [
            [
                "8e0c8e5ce2bb4d59"
            ]
        ]
    },
    {
        "id": "74e98f5f651c2a31",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "copia payload",
        "rules": [
            {
                "t": "set",
                "p": "payload_copia",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1060,
        "wires": [
            [
                "b8c0402c4c77018c"
            ]
        ]
    },
    {
        "id": "822c4419727a0b05",
        "type": "switch",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "¿Existe el usuario?",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 1060,
        "wires": [
            [
                "f73a9d2849022d06"
            ],
            [
                "fea0cf8dfc82e3c0"
            ]
        ]
    },
    {
        "id": "fea0cf8dfc82e3c0",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "copia payload",
        "rules": [
            {
                "t": "move",
                "p": "payload_copia",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1140,
        "wires": [
            [
                "1df7a8f87534c104"
            ]
        ]
    },
    {
        "id": "1df7a8f87534c104",
        "type": "function",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "Inserta usuario",
        "func": "msg.topic = \"INSERT INTO Usuarios ('Nombre', 'Primer_Apellido', 'Segundo_Apellido', 'RolID')  VALUES ($Nombre, $PrimerApellido, $SegundoApellido, $RolID)\"\nmsg.payload = [msg.payload.Nombre, msg.payload.PrimerApellido,msg.payload.SegundoApellido, msg.payload.Rol];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1140,
        "wires": [
            [
                "a252215ee5e02c31",
                "c4644b06dc1e5e7e"
            ]
        ]
    },
    {
        "id": "f73a9d2849022d06",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Existe usuario",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 960,
        "wires": [
            [
                "a7e7f845a76910b4",
                "3db2ea605e13442e"
            ]
        ]
    },
    {
        "id": "c4644b06dc1e5e7e",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Usuario insertado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 1060,
        "wires": [
            [
                "a7e7f845a76910b4",
                "1eef77ee0ae55026"
            ]
        ]
    },
    {
        "id": "caf2ba263d4ef942",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "Cambia",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 840,
        "wires": [
            [
                "67922d58bc03ca71"
            ]
        ]
    },
    {
        "id": "d79feedd5dfe2afd",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Usuario no registrado. Porfavor registrese primero",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 740,
        "wires": [
            [
                "70cae173873a3acc",
                "988b6270edf53336"
            ]
        ]
    },
    {
        "id": "70cae173873a3acc",
        "type": "ui_text",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "group": "e12f71a0e0e58c85",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Courier,monospace",
        "fontSize": "12",
        "color": "#000000",
        "x": 2170,
        "y": 740,
        "wires": []
    },
    {
        "id": "a7e7f845a76910b4",
        "type": "ui_text",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "group": "f5c3f6e56d803e9a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Courier,monospace",
        "fontSize": "12",
        "color": "#000000",
        "x": 2250,
        "y": 960,
        "wires": []
    },
    {
        "id": "1c2826b4780f3b6c",
        "type": "sqlite",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "GestionUsuarios",
        "x": 1200,
        "y": 660,
        "wires": [
            [
                "2d752b23348740ef"
            ]
        ]
    },
    {
        "id": "8e0c8e5ce2bb4d59",
        "type": "sqlite",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "GestionUsuarios",
        "x": 770,
        "y": 1060,
        "wires": [
            [
                "822c4419727a0b05"
            ]
        ]
    },
    {
        "id": "a252215ee5e02c31",
        "type": "sqlite",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "GestionUsuarios",
        "x": 1710,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "27b5084ffdc237fc",
        "type": "ui_media",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "group": "51a9761f08dd8002",
        "name": "",
        "width": 6,
        "height": 5,
        "order": 1,
        "category": "openthread",
        "file": "Openthread.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 450,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "9a2245a2af217dab",
        "type": "ui_media",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "group": "7e9a99ba84a9c7bb",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 1,
        "category": "Uniovi",
        "file": "Logo Universidad de Oviedo.jpg.png",
        "layout": "adjust",
        "showcontrols": false,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 450,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "38665b74988f5f38",
        "type": "ui_ui_control",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "Control",
        "events": "all",
        "x": 2500,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2d752b23348740ef",
        "type": "switch",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "¿Existe el usuario?",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1430,
        "y": 660,
        "wires": [
            [
                "3c3bc528a12b9bd1"
            ],
            [
                "d79feedd5dfe2afd"
            ]
        ]
    },
    {
        "id": "3c3bc528a12b9bd1",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sesion iniciada",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1780,
        "y": 540,
        "wires": [
            [
                "70cae173873a3acc",
                "f3e77ba1fb1ba8c4",
                "b07f1edbbf17deb6",
                "167669d7dda4f010",
                "68318e4b90890d2b"
            ]
        ]
    },
    {
        "id": "f3e77ba1fb1ba8c4",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "Cambio de pantalla",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"HMI\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2210,
        "y": 480,
        "wires": [
            [
                "38665b74988f5f38"
            ]
        ]
    },
    {
        "id": "b07f1edbbf17deb6",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "Ocultamiento Interfaz Usuario",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Interfaz usuario\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 540,
        "wires": [
            [
                "38665b74988f5f38"
            ]
        ]
    },
    {
        "id": "167669d7dda4f010",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "Mostrado HMI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"HMI\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2200,
        "y": 600,
        "wires": [
            [
                "38665b74988f5f38"
            ]
        ]
    },
    {
        "id": "46bfcd28e039218f",
        "type": "ui_ui_control",
        "z": "74b3f5a5948db5fe",
        "g": "5fc456465d7bf386",
        "name": "Entrada",
        "events": "connect",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "434c1ba1092d4f29",
                "988a21464ed11ec4",
                "50910b5a16b31a24",
                "d2b9723939860619",
                "3407b5dc0c3bbd2a",
                "2e64bb96c80f4ca5",
                "945eda50bbee7814"
            ]
        ]
    },
    {
        "id": "44a53a77ac6e5fdc",
        "type": "ui_ui_control",
        "z": "74b3f5a5948db5fe",
        "g": "5fc456465d7bf386",
        "name": "Control",
        "events": "all",
        "x": 840,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "434c1ba1092d4f29",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "5fc456465d7bf386",
        "name": "Mostrado Interfaz Usuario",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Interfaz Usuario\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "44a53a77ac6e5fdc"
            ]
        ]
    },
    {
        "id": "988a21464ed11ec4",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "5fc456465d7bf386",
        "name": "Ocultamiento HMI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"HMI\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "44a53a77ac6e5fdc"
            ]
        ]
    },
    {
        "id": "872f31fb66610fc0",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "5fc456465d7bf386",
        "name": "Pantalla Interfaz usuario",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Interfaz usuario\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "44a53a77ac6e5fdc"
            ]
        ]
    },
    {
        "id": "50910b5a16b31a24",
        "type": "function",
        "z": "74b3f5a5948db5fe",
        "g": "5fc456465d7bf386",
        "name": "Delay",
        "func": "setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 200);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 360,
        "wires": [
            [
                "872f31fb66610fc0"
            ]
        ]
    },
    {
        "id": "d2b9723939860619",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "5fc456465d7bf386",
        "name": "Ocultamiento Histortico Datos",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Historico datos\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "44a53a77ac6e5fdc"
            ]
        ]
    },
    {
        "id": "945eda50bbee7814",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "5fc456465d7bf386",
        "name": "Ocultamiento Sensor 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "44a53a77ac6e5fdc"
            ]
        ]
    },
    {
        "id": "2e64bb96c80f4ca5",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "5fc456465d7bf386",
        "name": "Ocultamiento Sensor 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "44a53a77ac6e5fdc"
            ]
        ]
    },
    {
        "id": "3407b5dc0c3bbd2a",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "5fc456465d7bf386",
        "name": "Ocultamiento Sensor 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 3\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "44a53a77ac6e5fdc"
            ]
        ]
    },
    {
        "id": "3db2ea605e13442e",
        "type": "function",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "Delay",
        "func": "setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 5000);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 1000,
        "wires": [
            [
                "628decd990e2241d"
            ]
        ]
    },
    {
        "id": "1eef77ee0ae55026",
        "type": "function",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "Delay",
        "func": "setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 5000);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 1060,
        "wires": [
            [
                "9baf8c6b2f103749"
            ]
        ]
    },
    {
        "id": "628decd990e2241d",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 1000,
        "wires": [
            [
                "a7e7f845a76910b4"
            ]
        ]
    },
    {
        "id": "9baf8c6b2f103749",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "7c8f429d48ea2794",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2160,
        "y": 1060,
        "wires": [
            [
                "a7e7f845a76910b4"
            ]
        ]
    },
    {
        "id": "988b6270edf53336",
        "type": "function",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "Delay",
        "func": "setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 5000);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 820,
        "wires": [
            [
                "3f149aa2222efbbe"
            ]
        ]
    },
    {
        "id": "3f149aa2222efbbe",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 820,
        "wires": [
            [
                "70cae173873a3acc"
            ]
        ]
    },
    {
        "id": "68318e4b90890d2b",
        "type": "function",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "Delay",
        "func": "setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 5000);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 660,
        "wires": [
            [
                "e8dc5af6c170bfce"
            ]
        ]
    },
    {
        "id": "e8dc5af6c170bfce",
        "type": "change",
        "z": "74b3f5a5948db5fe",
        "g": "0fd1a56ed2e67924",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1860,
        "y": 660,
        "wires": [
            [
                "70cae173873a3acc"
            ]
        ]
    },
    {
        "id": "68c7963e25c46065",
        "type": "ui_text",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "group": "c0b703d942eb6c60",
        "order": 12,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Lugar : Aula",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Courier,monospace",
        "fontSize": "16",
        "color": "#000000",
        "x": 150,
        "y": 1500,
        "wires": []
    },
    {
        "id": "5df544852f723fc3",
        "type": "ui_text",
        "z": "a4516b0f3dcdcb57",
        "group": "c9bef1ac80a915ab",
        "order": 12,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Lugar : Laboratorio",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Courier,monospace",
        "fontSize": "16",
        "color": "#000000",
        "x": 210,
        "y": 2360,
        "wires": []
    },
    {
        "id": "44c3a9fea024eaa1",
        "type": "ui_gauge",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "",
        "group": "c0b703d942eb6c60",
        "order": 3,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Presión",
        "label": "Hpa",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#b5b5b5",
            "#b5b5b5",
            "#b5b5b5"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 460,
        "y": 1800,
        "wires": []
    },
    {
        "id": "1a71075a2e105daa",
        "type": "ui_gauge",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "",
        "group": "c0b703d942eb6c60",
        "order": 5,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b5b5b5",
            "#b5b5b5",
            "#b5b5b5"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 460,
        "y": 2080,
        "wires": []
    },
    {
        "id": "6359dd0746474205",
        "type": "ui_gauge",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "",
        "group": "c0b703d942eb6c60",
        "order": 1,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#b5b5b5",
            "#b5b5b5",
            "#b5b5b5"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 1580,
        "wires": []
    },
    {
        "id": "dd8269f0818c9725",
        "type": "ui_gauge",
        "z": "a4516b0f3dcdcb57",
        "name": "",
        "group": "c9bef1ac80a915ab",
        "order": 3,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Presión",
        "label": "Hpa",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#b5b5b5",
            "#b5b5b5",
            "#b5b5b5"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 2340,
        "wires": []
    },
    {
        "id": "a67ab55696c6e0e5",
        "type": "ui_gauge",
        "z": "a4516b0f3dcdcb57",
        "name": "",
        "group": "c9bef1ac80a915ab",
        "order": 5,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Humedad",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#b5b5b5",
            "#b5b5b5",
            "#b5b5b5"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 2340,
        "wires": []
    },
    {
        "id": "b62496b4b894064e",
        "type": "ui_gauge",
        "z": "a4516b0f3dcdcb57",
        "name": "",
        "group": "c9bef1ac80a915ab",
        "order": 1,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#b5b5b5",
            "#b5b5b5",
            "#b5b5b5"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 2340,
        "wires": []
    },
    {
        "id": "9db23e9d7be60c28",
        "type": "ui_chart",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "",
        "group": "c0b703d942eb6c60",
        "order": 10,
        "width": 3,
        "height": 2,
        "label": "Presión",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "00bb768ff73f348c",
        "type": "ui_chart",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "",
        "group": "c0b703d942eb6c60",
        "order": 8,
        "width": 3,
        "height": 2,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "1b32e08895bde4c2",
        "type": "ui_chart",
        "z": "a4516b0f3dcdcb57",
        "name": "",
        "group": "c9bef1ac80a915ab",
        "order": 10,
        "width": 3,
        "height": 2,
        "label": "Presión",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "d67e67f34c387748",
        "type": "ui_chart",
        "z": "a4516b0f3dcdcb57",
        "name": "",
        "group": "c9bef1ac80a915ab",
        "order": 8,
        "width": 3,
        "height": 2,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "b2b98a7b8e5a04e3",
        "type": "mqtt in",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "",
        "topic": "sensor2/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7ecda5fcd174e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1600,
        "wires": [
            [
                "6359dd0746474205",
                "00bb768ff73f348c",
                "c7b1e19ee389aeb9"
            ]
        ]
    },
    {
        "id": "029deecc00112af5",
        "type": "mqtt in",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "",
        "topic": "sensor2/presion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7ecda5fcd174e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1820,
        "wires": [
            [
                "44c3a9fea024eaa1",
                "9db23e9d7be60c28",
                "4a731cb6c50fbf00"
            ]
        ]
    },
    {
        "id": "58813ebd6c143a71",
        "type": "mqtt in",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "",
        "topic": "sensor2/humedad_rel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7ecda5fcd174e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 2080,
        "wires": [
            [
                "1a71075a2e105daa",
                "a75e3337f7e428a0"
            ]
        ]
    },
    {
        "id": "c672d7137d7c10b6",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "Inserta temperatura",
        "func": "\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES (datetime('now','localtime'), 4, $Valor)\";\n\nmsg.payload = [msg.payload.Valortemp];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1520,
        "wires": [
            [
                "60bed1954078294c"
            ]
        ]
    },
    {
        "id": "60bed1954078294c",
        "type": "sqlite",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Insert medidas",
        "x": 940,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "c7b1e19ee389aeb9",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "Convertir a objeto",
        "func": "// Convertir el valor en objeto limpio \nmsg.payload = { Valortemp: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1520,
        "wires": [
            [
                "c672d7137d7c10b6"
            ]
        ]
    },
    {
        "id": "4a731cb6c50fbf00",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "Convertir a objeto",
        "func": "// Convertir el valor en objeto limpio \nmsg.payload = { Valorpress: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1720,
        "wires": [
            [
                "fa6762193ee7fef2"
            ]
        ]
    },
    {
        "id": "a75e3337f7e428a0",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "Convertir a objeto",
        "func": "// Convertir el valor en objeto limpio \nmsg.payload = { Valorhumrel: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1980,
        "wires": [
            [
                "ac3d246bb719b99d"
            ]
        ]
    },
    {
        "id": "fa6762193ee7fef2",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "Inserta presion",
        "func": "\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES (datetime('now','localtime'), 5, $Valor)\";\n\nmsg.payload = [msg.payload.Valorpress];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1720,
        "wires": [
            [
                "60bed1954078294c"
            ]
        ]
    },
    {
        "id": "ac3d246bb719b99d",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "Inserta humedad relativa",
        "func": "\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES (datetime('now','localtime'), 6, $Valor)\";\n\nmsg.payload = [msg.payload.Valorhumrel];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1980,
        "wires": [
            [
                "207aaf641208e838",
                "60bed1954078294c"
            ]
        ]
    },
    {
        "id": "207aaf641208e838",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Medidas insertadas",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 2060,
        "wires": [
            [
                "b0a44694e66a39fa"
            ]
        ]
    },
    {
        "id": "b0a44694e66a39fa",
        "type": "debug",
        "z": "a4516b0f3dcdcb57",
        "g": "d600916cb2a725b1",
        "name": "Comprobacion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 2060,
        "wires": []
    },
    {
        "id": "0acab8738978ebbb",
        "type": "ui_text",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "group": "cfa0e8765c550f0c",
        "order": 12,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Lugar : Despacho",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Courier,monospace",
        "fontSize": "16",
        "color": "#000000",
        "x": 170,
        "y": 760,
        "wires": []
    },
    {
        "id": "e7b34be932a93d57",
        "type": "ui_gauge",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "",
        "group": "cfa0e8765c550f0c",
        "order": 3,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Presión",
        "label": "Hpa",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#b5b5b5",
            "#b5b5b5",
            "#b5b5b5"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 1020,
        "wires": []
    },
    {
        "id": "62c4e8c01b00e57e",
        "type": "ui_gauge",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "",
        "group": "cfa0e8765c550f0c",
        "order": 5,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Humedad",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b5b5b5",
            "#b5b5b5",
            "#b5b5b5"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 1300,
        "wires": []
    },
    {
        "id": "df90700119afcec5",
        "type": "ui_gauge",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "",
        "group": "cfa0e8765c550f0c",
        "order": 1,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#b5b5b5",
            "#b5b5b5",
            "#b5b5b5"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 800,
        "wires": []
    },
    {
        "id": "57df8c14e1597343",
        "type": "ui_chart",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "",
        "group": "cfa0e8765c550f0c",
        "order": 10,
        "width": 3,
        "height": 2,
        "label": "Presión",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "772035f5bb99bf38",
        "type": "ui_chart",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "",
        "group": "cfa0e8765c550f0c",
        "order": 8,
        "width": 3,
        "height": 2,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "d0c59654f540c5f5",
        "type": "mqtt in",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "",
        "topic": "sensor1/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7ecda5fcd174e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 820,
        "wires": [
            [
                "c4e87d1e2e4c284e",
                "df90700119afcec5",
                "772035f5bb99bf38"
            ]
        ]
    },
    {
        "id": "3f7684de8cb585f1",
        "type": "mqtt in",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "",
        "topic": "sensor1/presion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7ecda5fcd174e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "d90f64e0bc48969b",
                "e7b34be932a93d57",
                "57df8c14e1597343"
            ]
        ]
    },
    {
        "id": "2724824d3183a52b",
        "type": "mqtt in",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "",
        "topic": "sensor1/humedad_rel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7ecda5fcd174e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1300,
        "wires": [
            [
                "903e644e6c88bb8e",
                "62c4e8c01b00e57e"
            ]
        ]
    },
    {
        "id": "5d18edce519f6031",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "Inserta temperatura",
        "func": "\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES (datetime('now','localtime'), 1, $Valor)\";\n\nmsg.payload = [msg.payload.Valortemp];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 740,
        "wires": [
            [
                "ad492ca2c731e15b"
            ]
        ]
    },
    {
        "id": "ad492ca2c731e15b",
        "type": "sqlite",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Insert medidas",
        "x": 920,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "c4e87d1e2e4c284e",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "Convertir a objeto",
        "func": "// Convertir el valor en objeto limpio \nmsg.payload = { Valortemp: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 740,
        "wires": [
            [
                "5d18edce519f6031"
            ]
        ]
    },
    {
        "id": "d90f64e0bc48969b",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "Convertir a objeto",
        "func": "// Convertir el valor en objeto limpio \nmsg.payload = { Valorpress: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 940,
        "wires": [
            [
                "0df73ff52a2b2a94"
            ]
        ]
    },
    {
        "id": "903e644e6c88bb8e",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "Convertir a objeto",
        "func": "// Convertir el valor en objeto limpio \nmsg.payload = { Valorhumrel: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1200,
        "wires": [
            [
                "e9855d5d1a479df8"
            ]
        ]
    },
    {
        "id": "0df73ff52a2b2a94",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "Inserta presion",
        "func": "\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES (datetime('now','localtime'), 2, $Valor)\";\n\nmsg.payload = [msg.payload.Valorpress];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 940,
        "wires": [
            [
                "ad492ca2c731e15b"
            ]
        ]
    },
    {
        "id": "e9855d5d1a479df8",
        "type": "function",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "Inserta humedad relativa",
        "func": "\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES (datetime('now','localtime'), 3, $Valor)\";\n\nmsg.payload = [msg.payload.Valorhumrel];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1200,
        "wires": [
            [
                "f004662100625e3d",
                "ad492ca2c731e15b"
            ]
        ]
    },
    {
        "id": "f004662100625e3d",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Medidas insertadas",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1280,
        "wires": [
            [
                "623c4989f3285ff8"
            ]
        ]
    },
    {
        "id": "623c4989f3285ff8",
        "type": "debug",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "Comprobacion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1280,
        "wires": []
    },
    {
        "id": "dd790b0d02040bf1",
        "type": "ui_gauge",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "",
        "group": "cfa0e8765c550f0c",
        "order": 14,
        "width": 6,
        "height": 3,
        "gtype": "donut",
        "title": "Bateria",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "6",
        "colors": [
            "#b5b5b5",
            "#b5b5b5",
            "#b5b5b5"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 1400,
        "wires": []
    },
    {
        "id": "c8366e335711b9f7",
        "type": "mqtt in",
        "z": "a4516b0f3dcdcb57",
        "g": "179a4a14db85519b",
        "name": "",
        "topic": "sensor1/bateria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7ecda5fcd174e5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1400,
        "wires": [
            [
                "dd790b0d02040bf1"
            ]
        ]
    },
    {
        "id": "2b3bb4e1e32412f3",
        "type": "ui_button",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "",
        "group": "710d72773907b5d7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Cerrar Sesion",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "52eeb917c692e55d",
                "deb264307cc112c7",
                "4e5da31cd33380a1",
                "053d99e5441785ad",
                "e08c6cc42751f784",
                "776fb3cf78e98c1f"
            ]
        ]
    },
    {
        "id": "c6873297fa8a4c06",
        "type": "ui_ui_control",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Control",
        "events": "all",
        "x": 720,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "52eeb917c692e55d",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Cambio de pantalla",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Interfaz usuario\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "c6873297fa8a4c06"
            ]
        ]
    },
    {
        "id": "deb264307cc112c7",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Ocultamiento HMI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"HMI\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "c6873297fa8a4c06"
            ]
        ]
    },
    {
        "id": "4e5da31cd33380a1",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Mostrado Interfaz Usuario",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Interfaz usuario\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "c6873297fa8a4c06"
            ]
        ]
    },
    {
        "id": "f1487042a88fe67c",
        "type": "ui_media",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "group": "710d72773907b5d7",
        "name": "",
        "width": 1,
        "height": 1,
        "order": 2,
        "category": "Icono_usuario",
        "file": "Icono usuario.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "muted": true,
        "scope": "local",
        "tooltip": "",
        "x": 710,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "00049a922f6ee885",
        "type": "ui_button",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "",
        "group": "710d72773907b5d7",
        "order": 6,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Histortico de datos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "51a3a7c4418f62fb",
                "531639dfd9b96f52",
                "6846e960dd5c23a1",
                "025fe8cdbc9cdf79",
                "c16766b4a4ed422d"
            ]
        ]
    },
    {
        "id": "51a3a7c4418f62fb",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Cambio de pantalla",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Historico datos\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 580,
        "wires": [
            [
                "c4ec8f6a11d504ab"
            ]
        ]
    },
    {
        "id": "531639dfd9b96f52",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Mostrado Historico datos",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Historico datos\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 620,
        "wires": [
            [
                "c4ec8f6a11d504ab"
            ]
        ]
    },
    {
        "id": "c4ec8f6a11d504ab",
        "type": "ui_ui_control",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Control",
        "events": "all",
        "x": 720,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "776fb3cf78e98c1f",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Ocultamiento Sensor 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "c6873297fa8a4c06"
            ]
        ]
    },
    {
        "id": "e08c6cc42751f784",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Ocultamiento Sensor 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "c6873297fa8a4c06"
            ]
        ]
    },
    {
        "id": "053d99e5441785ad",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Ocultamiento Sensor 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 3\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "c6873297fa8a4c06"
            ]
        ]
    },
    {
        "id": "c16766b4a4ed422d",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Ocultamiento Sensor 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 460,
        "wires": [
            [
                "c4ec8f6a11d504ab"
            ]
        ]
    },
    {
        "id": "025fe8cdbc9cdf79",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Ocultamiento Sensor 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 500,
        "wires": [
            [
                "c4ec8f6a11d504ab"
            ]
        ]
    },
    {
        "id": "6846e960dd5c23a1",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Ocultamiento Sensor 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 3\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 540,
        "wires": [
            [
                "c4ec8f6a11d504ab"
            ]
        ]
    },
    {
        "id": "adb2e82aa7211313",
        "type": "change",
        "z": "a4516b0f3dcdcb57",
        "g": "eff0459317d8711f",
        "name": "Ocultamiento Historico Datos",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Historico datos\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f8e070c170e46420",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "",
        "group": "518740a4cae77def",
        "order": 1,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Sensor 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "5ca938de3cdfc2e6",
                "015d433b49ee632a",
                "2840e3256f9db741"
            ]
        ]
    },
    {
        "id": "5ca938de3cdfc2e6",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Cambio de pantalla",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Sensor 1\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 60,
        "wires": [
            [
                "5959f5924a70a019"
            ]
        ]
    },
    {
        "id": "015d433b49ee632a",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Ocultamiento HMI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Historico datos\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "5959f5924a70a019"
            ]
        ]
    },
    {
        "id": "2840e3256f9db741",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Mostrado Interfaz Usuario",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Sensor 1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "5959f5924a70a019"
            ]
        ]
    },
    {
        "id": "5959f5924a70a019",
        "type": "ui_ui_control",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Control",
        "events": "all",
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "abb7a533be135ec4",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "",
        "group": "c853fbf10a2cdb5e",
        "order": 1,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Sensor 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "43e83335b7509999",
                "939601692369390b",
                "c3ba3f37c1118569"
            ]
        ]
    },
    {
        "id": "43e83335b7509999",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Cambio de pantalla",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Sensor 2\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "0319ce208e915dea"
            ]
        ]
    },
    {
        "id": "939601692369390b",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Ocultamiento HMI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Historico datos\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "0319ce208e915dea"
            ]
        ]
    },
    {
        "id": "c3ba3f37c1118569",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Mostrado Interfaz Usuario",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Sensor 2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "0319ce208e915dea"
            ]
        ]
    },
    {
        "id": "0319ce208e915dea",
        "type": "ui_ui_control",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Control",
        "events": "all",
        "x": 640,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a1177aaad098fe00",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "",
        "group": "b5f4919c21cd6839",
        "order": 1,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Sensor 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "af87abb2d04ab60d",
                "174c6cb80233e759",
                "0704e2f810f31147"
            ]
        ]
    },
    {
        "id": "af87abb2d04ab60d",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Cambio de pantalla",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Sensor 3\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "8e7d0c32646179f1"
            ]
        ]
    },
    {
        "id": "174c6cb80233e759",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Ocultamiento HMI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Historico datos\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 520,
        "wires": [
            [
                "8e7d0c32646179f1"
            ]
        ]
    },
    {
        "id": "0704e2f810f31147",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Mostrado Interfaz Usuario",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Sensor 3\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "8e7d0c32646179f1"
            ]
        ]
    },
    {
        "id": "8e7d0c32646179f1",
        "type": "ui_ui_control",
        "z": "514fe8141139fefe",
        "g": "94339bdefa772aa6",
        "name": "Control",
        "events": "all",
        "x": 640,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "21b671b1720e88e8",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "",
        "group": "a5c9dddb92dfed30",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Mostrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 980,
        "wires": [
            [
                "2407d5f63e5ef991"
            ]
        ]
    },
    {
        "id": "2407d5f63e5ef991",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "Consulta ultimos 100 TEMP S1",
        "func": "msg.topic = \"SELECT Valor FROM Datos WHERE SensorVariableId = 1 ORDER BY Fechahora DESC LIMIT 100\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 980,
        "wires": [
            [
                "a4b33e118aa2d8fa"
            ]
        ]
    },
    {
        "id": "a4b33e118aa2d8fa",
        "type": "sqlite",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Obtencion",
        "x": 630,
        "y": 980,
        "wires": [
            [
                "ee79726cfdb44df6"
            ]
        ]
    },
    {
        "id": "65383d40f3fa7a44",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "",
        "group": "c35121c63d7752a2",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Mostrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1100,
        "wires": [
            [
                "f8cd7fe3f5a24ff2"
            ]
        ]
    },
    {
        "id": "f8cd7fe3f5a24ff2",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "Consulta ultimos 100 PRESS S1",
        "func": "msg.topic = \"SELECT Valor FROM Datos WHERE SensorVariableId = 2 ORDER BY Fechahora DESC LIMIT 100\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1100,
        "wires": [
            [
                "9f53fa4b8a538ab3"
            ]
        ]
    },
    {
        "id": "9f53fa4b8a538ab3",
        "type": "sqlite",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Obtencion",
        "x": 630,
        "y": 1100,
        "wires": [
            [
                "661eebc3e1918e8f"
            ]
        ]
    },
    {
        "id": "c39879c9c149c52c",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "",
        "group": "370e412b4dc841b8",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Mostrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1200,
        "wires": [
            [
                "4ecc984c837c4ff2"
            ]
        ]
    },
    {
        "id": "4ecc984c837c4ff2",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "Consulta ultimos 100 HUM_REL S1",
        "func": "msg.topic = \"SELECT Valor FROM Datos WHERE SensorVariableId = 3 ORDER BY Fechahora DESC LIMIT 100\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1200,
        "wires": [
            [
                "d6916fe78551d396"
            ]
        ]
    },
    {
        "id": "d6916fe78551d396",
        "type": "sqlite",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Obtencion",
        "x": 630,
        "y": 1200,
        "wires": [
            [
                "ebbe0be916c00b40"
            ]
        ]
    },
    {
        "id": "584879fde26f2969",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "Ajuste de datos",
        "func": "const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: count,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1200,
        "wires": [
            [
                "30aee3cdbd8db034"
            ]
        ]
    },
    {
        "id": "30aee3cdbd8db034",
        "type": "ui_chart",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "",
        "group": "370e412b4dc841b8",
        "order": 4,
        "width": 9,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "ebbe0be916c00b40",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "Giramos los datos",
        "func": "msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1200,
        "wires": [
            [
                "584879fde26f2969"
            ]
        ]
    },
    {
        "id": "a79739e863012a04",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "Ajuste de datos",
        "func": "const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: count,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1100,
        "wires": [
            [
                "287abe0edca7aa2b"
            ]
        ]
    },
    {
        "id": "287abe0edca7aa2b",
        "type": "ui_chart",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "",
        "group": "c35121c63d7752a2",
        "order": 4,
        "width": 9,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "661eebc3e1918e8f",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "Giramos los datos",
        "func": "msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1100,
        "wires": [
            [
                "a79739e863012a04"
            ]
        ]
    },
    {
        "id": "158d92458940f0da",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "Ajuste de datos",
        "func": "const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: count,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 980,
        "wires": [
            [
                "9376949fa6d5145f"
            ]
        ]
    },
    {
        "id": "9376949fa6d5145f",
        "type": "ui_chart",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "",
        "group": "a5c9dddb92dfed30",
        "order": 4,
        "width": 9,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "ee79726cfdb44df6",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "Giramos los datos",
        "func": "msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 980,
        "wires": [
            [
                "158d92458940f0da"
            ]
        ]
    },
    {
        "id": "d50d818dd2d2622f",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "",
        "group": "a5c9dddb92dfed30",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Borrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 940,
        "wires": [
            [
                "9376949fa6d5145f"
            ]
        ]
    },
    {
        "id": "77fe28509a3ee134",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "",
        "group": "c35121c63d7752a2",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Borrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 1060,
        "wires": [
            [
                "287abe0edca7aa2b"
            ]
        ]
    },
    {
        "id": "29fc3cf461d33fb0",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "7b68953bb1b81556",
        "name": "",
        "group": "370e412b4dc841b8",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Borrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 1160,
        "wires": [
            [
                "30aee3cdbd8db034"
            ]
        ]
    },
    {
        "id": "6f2cbfe29033feba",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "",
        "group": "08ce921bbf4245dd",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Mostrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1380,
        "wires": [
            [
                "31f155eff75f7aaf"
            ]
        ]
    },
    {
        "id": "31f155eff75f7aaf",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "Consulta ultimos 100 TEMP S2",
        "func": "msg.topic = \"SELECT Valor FROM Datos WHERE SensorVariableId = 4 ORDER BY Fechahora DESC LIMIT 100\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1380,
        "wires": [
            [
                "24dc0d0a7bd18ad9"
            ]
        ]
    },
    {
        "id": "24dc0d0a7bd18ad9",
        "type": "sqlite",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Obtencion",
        "x": 630,
        "y": 1380,
        "wires": [
            [
                "eea06edbb20f411e"
            ]
        ]
    },
    {
        "id": "628bf68834570e28",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "",
        "group": "05147ca138bc75e5",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Mostrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1500,
        "wires": [
            [
                "0a722b06d8ca72cb"
            ]
        ]
    },
    {
        "id": "0a722b06d8ca72cb",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "Consulta ultimos 100 PRESS S2",
        "func": "msg.topic = \"SELECT Valor FROM Datos WHERE SensorVariableId = 5 ORDER BY Fechahora DESC LIMIT 100\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "ec97503e4af9fe51"
            ]
        ]
    },
    {
        "id": "ec97503e4af9fe51",
        "type": "sqlite",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Obtencion",
        "x": 630,
        "y": 1500,
        "wires": [
            [
                "a6cd626bbd2127be"
            ]
        ]
    },
    {
        "id": "c872842be0b4a8a7",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "",
        "group": "fb653075e5af83b8",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Mostrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1600,
        "wires": [
            [
                "1b7d44aafd9fb4a8"
            ]
        ]
    },
    {
        "id": "1b7d44aafd9fb4a8",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "Consulta ultimos 100 HUM_REL S2",
        "func": "msg.topic = \"SELECT Valor FROM Datos WHERE SensorVariableId = 6 ORDER BY Fechahora DESC LIMIT 100\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1600,
        "wires": [
            [
                "c3bc03ab1cd8acaf"
            ]
        ]
    },
    {
        "id": "c3bc03ab1cd8acaf",
        "type": "sqlite",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Obtencion",
        "x": 630,
        "y": 1600,
        "wires": [
            [
                "eb6305021ad3eb2a"
            ]
        ]
    },
    {
        "id": "39df449fc597d7c9",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "Ajuste de datos",
        "func": "const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: count,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1600,
        "wires": [
            [
                "cd4bbe539da93e61"
            ]
        ]
    },
    {
        "id": "cd4bbe539da93e61",
        "type": "ui_chart",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "",
        "group": "fb653075e5af83b8",
        "order": 4,
        "width": 9,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "eb6305021ad3eb2a",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "Giramos los datos",
        "func": "msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1600,
        "wires": [
            [
                "39df449fc597d7c9"
            ]
        ]
    },
    {
        "id": "94c13a56e70f91e6",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "Ajuste de datos",
        "func": "const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: count,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1500,
        "wires": [
            [
                "04c3dcd46be5f9cd"
            ]
        ]
    },
    {
        "id": "04c3dcd46be5f9cd",
        "type": "ui_chart",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "",
        "group": "05147ca138bc75e5",
        "order": 4,
        "width": 9,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "a6cd626bbd2127be",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "Giramos los datos",
        "func": "msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1500,
        "wires": [
            [
                "94c13a56e70f91e6"
            ]
        ]
    },
    {
        "id": "a8901fa6f7445fae",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "Ajuste de datos",
        "func": "const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: count,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1380,
        "wires": [
            [
                "1b4e161547d17f0b"
            ]
        ]
    },
    {
        "id": "1b4e161547d17f0b",
        "type": "ui_chart",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "",
        "group": "08ce921bbf4245dd",
        "order": 4,
        "width": 9,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "eea06edbb20f411e",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "Giramos los datos",
        "func": "msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1380,
        "wires": [
            [
                "a8901fa6f7445fae"
            ]
        ]
    },
    {
        "id": "acbe5ca20e447cf8",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "",
        "group": "08ce921bbf4245dd",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Borrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 1340,
        "wires": [
            [
                "1b4e161547d17f0b"
            ]
        ]
    },
    {
        "id": "f682b4e1cf17081c",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "",
        "group": "05147ca138bc75e5",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Borrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 1460,
        "wires": [
            [
                "04c3dcd46be5f9cd"
            ]
        ]
    },
    {
        "id": "b77caf2db4bebb67",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "c098fd6a3c3419b8",
        "name": "",
        "group": "fb653075e5af83b8",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Borrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 1560,
        "wires": [
            [
                "cd4bbe539da93e61"
            ]
        ]
    },
    {
        "id": "1b05594fa991d37a",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "",
        "group": "e11d10f97cb5552b",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Mostrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1760,
        "wires": [
            [
                "7ad8ada94da5ef92"
            ]
        ]
    },
    {
        "id": "7ad8ada94da5ef92",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "Consulta ultimos 100 TEMP S3",
        "func": "msg.topic = \"SELECT Valor FROM Datos WHERE SensorVariableId = 7 ORDER BY Fechahora DESC LIMIT 100\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1760,
        "wires": [
            [
                "4fcc47743d2b4723"
            ]
        ]
    },
    {
        "id": "4fcc47743d2b4723",
        "type": "sqlite",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Obtencion",
        "x": 630,
        "y": 1760,
        "wires": [
            [
                "e5c62c03e30e77fa"
            ]
        ]
    },
    {
        "id": "896987d134f0edda",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "",
        "group": "8097bc13feca37fb",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Mostrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1880,
        "wires": [
            [
                "8c929869ca773651"
            ]
        ]
    },
    {
        "id": "8c929869ca773651",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "Consulta ultimos 100 PRESS S3",
        "func": "msg.topic = \"SELECT Valor FROM Datos WHERE SensorVariableId = 8 ORDER BY Fechahora DESC LIMIT 100\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1880,
        "wires": [
            [
                "0362bd380e50c773"
            ]
        ]
    },
    {
        "id": "0362bd380e50c773",
        "type": "sqlite",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Obtencion",
        "x": 630,
        "y": 1880,
        "wires": [
            [
                "460d9ed8cfb0c8ec"
            ]
        ]
    },
    {
        "id": "c3859f8361d8b830",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "",
        "group": "313dfd5f6cee5a51",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Mostrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1980,
        "wires": [
            [
                "e36ab562f3b82dd2"
            ]
        ]
    },
    {
        "id": "e36ab562f3b82dd2",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "Consulta ultimos 100 HUM_REL S1",
        "func": "msg.topic = \"SELECT Valor FROM Datos WHERE SensorVariableId = 9 ORDER BY Fechahora DESC LIMIT 100\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1980,
        "wires": [
            [
                "5ade8d52d28c8cd4"
            ]
        ]
    },
    {
        "id": "5ade8d52d28c8cd4",
        "type": "sqlite",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "mydb": "18cda8a4ddef503b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Obtencion",
        "x": 630,
        "y": 1980,
        "wires": [
            [
                "992d9d07de2a9ab3"
            ]
        ]
    },
    {
        "id": "9bf039398a2aff3c",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "Ajuste de datos",
        "func": "const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: count,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1980,
        "wires": [
            [
                "512e42c2046c0dd3"
            ]
        ]
    },
    {
        "id": "512e42c2046c0dd3",
        "type": "ui_chart",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "",
        "group": "313dfd5f6cee5a51",
        "order": 4,
        "width": 9,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "992d9d07de2a9ab3",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "Giramos los datos",
        "func": "msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1980,
        "wires": [
            [
                "9bf039398a2aff3c"
            ]
        ]
    },
    {
        "id": "bd27fcf3bf7c5767",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "Ajuste de datos",
        "func": "const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: count,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1880,
        "wires": [
            [
                "40bc20579de90adc"
            ]
        ]
    },
    {
        "id": "40bc20579de90adc",
        "type": "ui_chart",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "",
        "group": "8097bc13feca37fb",
        "order": 4,
        "width": 9,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "460d9ed8cfb0c8ec",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "Giramos los datos",
        "func": "msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1880,
        "wires": [
            [
                "bd27fcf3bf7c5767"
            ]
        ]
    },
    {
        "id": "1e3caa8e82c3b1ef",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "Ajuste de datos",
        "func": "const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: count,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1760,
        "wires": [
            [
                "0774c32735e4a8fa"
            ]
        ]
    },
    {
        "id": "0774c32735e4a8fa",
        "type": "ui_chart",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "",
        "group": "e11d10f97cb5552b",
        "order": 4,
        "width": 9,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "e5c62c03e30e77fa",
        "type": "function",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "Giramos los datos",
        "func": "msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1760,
        "wires": [
            [
                "1e3caa8e82c3b1ef"
            ]
        ]
    },
    {
        "id": "e863d0d1a6cdd05c",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "",
        "group": "e11d10f97cb5552b",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Borrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 1720,
        "wires": [
            [
                "0774c32735e4a8fa"
            ]
        ]
    },
    {
        "id": "eb1475cedc4e1cba",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "",
        "group": "8097bc13feca37fb",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Borrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 1840,
        "wires": [
            [
                "40bc20579de90adc"
            ]
        ]
    },
    {
        "id": "42427468bab8c3cc",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "3d87d3a70cb03c9d",
        "name": "",
        "group": "313dfd5f6cee5a51",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Borrar",
        "tooltip": "",
        "color": "",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 1940,
        "wires": [
            [
                "512e42c2046c0dd3"
            ]
        ]
    },
    {
        "id": "69a431b5dba83664",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "",
        "group": "c35121c63d7752a2",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Volver",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1070,
        "y": 180,
        "wires": [
            [
                "2d362bf1392e6bb4",
                "3b7a2eb207fc1517",
                "4fe8b7259038d75a",
                "ded123bd9b4a97a8",
                "ed030aa209e8d6f5"
            ]
        ]
    },
    {
        "id": "deb57a6c88850ba7",
        "type": "ui_ui_control",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Control",
        "events": "all",
        "x": 1580,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ded123bd9b4a97a8",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Cambio de pantalla",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Historico datos\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 200,
        "wires": [
            [
                "deb57a6c88850ba7"
            ]
        ]
    },
    {
        "id": "ed030aa209e8d6f5",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Mostrado Historico datos",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Historico datos\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 240,
        "wires": [
            [
                "deb57a6c88850ba7"
            ]
        ]
    },
    {
        "id": "2d362bf1392e6bb4",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Ocultamiento Sensor 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 80,
        "wires": [
            [
                "deb57a6c88850ba7"
            ]
        ]
    },
    {
        "id": "3b7a2eb207fc1517",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Ocultamiento Sensor 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 120,
        "wires": [
            [
                "deb57a6c88850ba7"
            ]
        ]
    },
    {
        "id": "4fe8b7259038d75a",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Ocultamiento Sensor 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 3\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 160,
        "wires": [
            [
                "deb57a6c88850ba7"
            ]
        ]
    },
    {
        "id": "02a11ed131e71128",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "",
        "group": "05147ca138bc75e5",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Volver",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1070,
        "y": 420,
        "wires": [
            [
                "79c4ad5f378d5756",
                "a198a8fa459b30d5",
                "dd1f799685a0708b",
                "5aed38f196a759ef",
                "43e242ecf1abfea8"
            ]
        ]
    },
    {
        "id": "28578769e9a2544a",
        "type": "ui_ui_control",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Control",
        "events": "all",
        "x": 1580,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "5aed38f196a759ef",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Cambio de pantalla",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Historico datos\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 440,
        "wires": [
            [
                "28578769e9a2544a"
            ]
        ]
    },
    {
        "id": "43e242ecf1abfea8",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Mostrado Historico datos",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Historico datos\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 480,
        "wires": [
            [
                "28578769e9a2544a"
            ]
        ]
    },
    {
        "id": "79c4ad5f378d5756",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Ocultamiento Sensor 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 320,
        "wires": [
            [
                "28578769e9a2544a"
            ]
        ]
    },
    {
        "id": "a198a8fa459b30d5",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Ocultamiento Sensor 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 360,
        "wires": [
            [
                "28578769e9a2544a"
            ]
        ]
    },
    {
        "id": "dd1f799685a0708b",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Ocultamiento Sensor 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 3\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 400,
        "wires": [
            [
                "28578769e9a2544a"
            ]
        ]
    },
    {
        "id": "3a3eff88390ea859",
        "type": "ui_button",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "",
        "group": "8097bc13feca37fb",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Volver",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1070,
        "y": 660,
        "wires": [
            [
                "565d3f306e478010",
                "3cf20d3913644aae",
                "728b9e35c41fe255",
                "e258c17ac86e78aa",
                "c9f7814583066c3d"
            ]
        ]
    },
    {
        "id": "4bb76e5b5d6d3eab",
        "type": "ui_ui_control",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Control",
        "events": "all",
        "x": 1580,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "e258c17ac86e78aa",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Cambio de pantalla",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Historico datos\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 680,
        "wires": [
            [
                "4bb76e5b5d6d3eab"
            ]
        ]
    },
    {
        "id": "c9f7814583066c3d",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Mostrado Historico datos",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Historico datos\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 720,
        "wires": [
            [
                "4bb76e5b5d6d3eab"
            ]
        ]
    },
    {
        "id": "565d3f306e478010",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Ocultamiento Sensor 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 560,
        "wires": [
            [
                "4bb76e5b5d6d3eab"
            ]
        ]
    },
    {
        "id": "3cf20d3913644aae",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Ocultamiento Sensor 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 600,
        "wires": [
            [
                "4bb76e5b5d6d3eab"
            ]
        ]
    },
    {
        "id": "728b9e35c41fe255",
        "type": "change",
        "z": "514fe8141139fefe",
        "g": "8f26310f91cb172d",
        "name": "Ocultamiento Sensor 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Sensor 3\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 640,
        "wires": [
            [
                "4bb76e5b5d6d3eab"
            ]
        ]
    },
    {
        "id": "04a78b32c728f32b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.5",
            "node-red-node-sqlite": "1.1.1",
            "node-red-contrib-ui-media": "2.0.0"
        }
    }
]