Flows Node-red/Interfaz_web.json
[{"id":"7f506ec776d03402","type":"tab","label":"Interfaz Usuario","disabled":false,"info":"","env":[]},{"id":"ee95db94f847efdc","type":"tab","label":"HMI","disabled":false,"info":"","env":[]},{"id":"b1b5331ef057c744","type":"tab","label":"Historico Datos","disabled":false,"info":"","env":[]},{"id":"28d6a536953c4681","type":"group","z":"7f506ec776d03402","name":"Gestion de pantallas","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["16889b1e27fd0aee","3b3b969b36a78ac6","c69aa6d4396627d6","6079a14e2648583f","40f92306fef06fce","71455c2c01378513","84dbf902cf6dbac1","15bba5de593fa9c1","e2ef18c683ca69ee","83533412a15fd72e","ea295c31282e43e8","45b7aeaa11b8f4c0","042f413fb2f0fd3e"],"x":54,"y":19,"w":872,"h":462},{"id":"1c25e9c1b8755408","type":"group","z":"b1b5331ef057c744","name":"Gestión de pantallas","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["33dedab5864966cb","4c6bd5cc4b5203f7","58a4fa1b547243e0","4ea98dcd7ddfb4fa","7c228220d867b429","e902dd4b7ef4e38c","151751475e2f5ecc","ab558a2fb1ee22fb","b3be9468a8bec07d","69a9efa481e1cc66"],"x":74,"y":119,"w":692,"h":502},{"id":"61985f4ec4e4cacd","type":"group","z":"b1b5331ef057c744","name":"Sensor 3 HD","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["8e4a7bcaaec2395f","7022f2c38c936997","707064d1e3725636","c03ade91cfd99d7e","31a6a5e8ded8f714","b60a3a9ae15e8780","67a75af30a604826","4a2277203e8e91e1","f01bb280c8a725a3","7c01103e82c5d983","3b97d8a36754ed18","92ab09f11ad6dad2","a680fddb58d4ede9","2d8d5bf61c559a02","44840ebe568d0a20","ce0f73b5a61ff4f3","12d0d779e5c95fb4","c9fb8e3d3e551d24","d4a3a6bc9cd9f6e3","504de3edb21720fa","9b8e14b3b36f4e03"],"x":74,"y":1679,"w":1272,"h":342},{"id":"195fcbd29037d2cd","type":"group","z":"b1b5331ef057c744","name":"Sensor 2 HD","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["cdcc7e2cf25232f2","b336b658c03a36d6","985506def1ae820e","9563ddb8fbbe06a7","2da63394424ec782","5dce417d53ab9751","9a43ca14f04b8844","759c993ba27355b1","19eef4dabc979844","ae95b04dcbca9b5f","498421f0febe51b8","841adf0c3a19aa38","207e4914cc1b2e19","cecad77b75cfca9f","23882aeb420e9254","38940631ed0faccc","be2984880f035179","8af2c80308609cef","44f0433bc81aadcf","99b98a1572c91157","dc338285e1d859ba"],"x":74,"y":1299,"w":1272,"h":342},{"id":"e1fd6965ccbc62ea","type":"group","z":"b1b5331ef057c744","name":"Sensor 1 HD","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["09e948d151042188","f6e52a0aa594a54c","7276b4e7fdbc9daa","fa473717c204db96","4622330f9e18bf0f","d052dfc2f3b43bda","8558a6769b2d7de8","bf560bf53e8723ae","6196e6c12830cb04","68375416a8596d7a","693c47b5106094a9","c077e7d4301de2ab","5dd7649b0867cdcd","cd87827377202915","750102694c9aa969","f9565af54131361a","58f868e8d7655580","83b6867276478382","17c7be9d37ff61e8","85ed6abe90106b32","8df5e22450a0ab33"],"x":74,"y":899,"w":1292,"h":342},{"id":"523bbfad8e60deeb","type":"group","z":"7f506ec776d03402","name":"Registro","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["0cde7c6bb7bc3096","3da53d7b4bae89ae","8c835da723648afc","74d83cdfed6ffcf6","4984e56703528f07","ca2fc7b942450fff","1ce8338d592dd4e2","37c6455117c18b83","8492afb90e75c97f","7b45dae3a066d3b7","682255e6f9b3e641","7a6c2ebbbecf7e34","97aa5e9462d21fe2","5880521a20020379","7ed84ec9eaa2c1bd","fea41894439bf8a4","254e308358853f23"],"x":54,"y":1059,"w":2272,"h":362},{"id":"941604338eef0d6a","type":"group","z":"7f506ec776d03402","name":"Gestion Log In","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["7e8dd7a55305efd5","15804c9cd4f2c874","e53103168b7298a2","05aa98791be20750","64a32e99d8d72280","a4677304baaf6db6","922b0eb0acb2d069","3a808f054ffd8792","7671863bdb5a5463","1668ec3a836126d8","3b4a712d1445e152","5e9f8cbb5230b522","d6ae7e5e05f228ae","3647ed2943a52f6c","6988ff12f8ea0b74","b62dece41fbd0507","edfd26b61c18c01a","5442ed8ef48e749f","a87ca84cbffe33a3","e597f15a595904a6","10834b5ae46207d7"],"x":54,"y":559,"w":2532,"h":442},{"id":"d37b1cdeb9e20705","type":"group","z":"ee95db94f847efdc","name":"Sensor 1","style":{"stroke":"#000000","fill":"#e3f3d3","label":true,"color":"#000000"},"nodes":["b424578b6098b9d9","7e8d96125ef52e60","b8fdb97dc42dd5b7","3bbaf25f88a43100","1e25f0de1b5358d5","0d4a9e255e6dbf1f","dbeef37e0abcc6a7","2286e91c1fb3812d","ff44064c0da852c0","7b81ef2f8a1a7ce0","4faed0e69f45816b","a2e1c1e34c1141d8","f7e33da329139244","345e59d5953f9205","731b3551a1a65d1c","249fd7c143ca8872","4a71c43907966e0c","4d8f914ef9554c00","83c7a9ca17a02fe0","cefc0b7325fb8dae","bc17a5b4725986dc","f2308fa01916a6fe","c159b91813ada117","e5cb2461d93d2d70","e95b26d125eb52a7","db0e364a4c21189d","d8c2d8e17aba5077","57d92470712ab67f","162d0323527925b2","1a7c7d99b66bc31f","5d96fb6f50f06adb","f4959e94bbd77801","ffb2a9406140cc48","ddf4c68a17148748","bb806210a0dcfaec","1ab038983f80ae02","d791ccec7bcba2be"],"x":54,"y":2019,"w":1212,"h":902},{"id":"fe4636a52003d2d4","type":"group","z":"ee95db94f847efdc","name":"Sensor 2","style":{"stroke":"#000000","fill":"#e3f3d3","label":true,"color":"#000000"},"nodes":["e3663eed372cc414","49703261821d4601","38dc63eaf09ffe4f","dcfa59a59163da12","3cb7e0ffe193ac50","70832474ddcd8513","065af7cc8d096c22","d5583195a8163f4c","e1dbfba026fab610","4dbda816792684e6","0d4ba8b1cec62970","6f02389dcbc6fa9c","d32d5c2339f20513","a70521c9de276fd2","88b54082615139f2","6fcf4a6d0803733f","4b5a724c78d14258","ab1487012ab9e968","adb13f0cd5d83b8b","4dcf0334242ea353","3032144372c40dad","5b5f61166a2bddc6","007e471e03e263b3","b378bf6241fe6266","33375085e1d68441","5b2ecf95e8d898ef","02a3fdc7b24855eb","2d90c7d55b7e80e0","e69fa00e5c7d594c","76cba62a8fcd1c5a","db25223135d55181","e91f4923dcab6d33","8f008bd77b67dc42","42d58f846280e2bf","c0b73547a9692c5a","d0d628ea0f1f1707","b0cb634293820c68"],"x":54,"y":2939,"w":1192,"h":982},{"id":"cb407775ef27f324","type":"group","z":"ee95db94f847efdc","name":"Gestion de pantallas","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["1f0d60c33c2dc38f","84da308f76e3de5a","bdbe7b62818f12cc","db4ea7bed031a958","912c9d089aed1e8d","c9e93e97bf2eea78","e99a0f1fb6de9521","55fe0c90e08f324f","8f7c419b5418582d","98cd313473781fcb","595cb89924a186f4","f2bd148ca1dab394","ca8c78222ac91c69","03640bbee8b38885","a68188613ce6f166","5f27975d0c433951","2bb4d8a442dc8e46","eecabc84d64cd8eb","e49a6360a2d700f2","b7feebb1da7b7e63","1db1b086b02990f6","b114b08b0b5bcc98","bd08fdd03cf9251b","d3301b7f077e3599","06ddd7c92bbf4244","68bb6aede2100583","975d23fb5a5d5e79","a8d01a019a27898c","9f0498ccf7f1328c","c514060cdd17b924","43e26b855e734563","092f470bb0dcf959","63f107f5ae22b7d5","a4456f18384a6a7c","be0242f14b7090c1","1bc50faf10994def","f0a77e2d518c72d3","12dafc5e249af4ed","349f1b1da5698cd0","b1e71e9c69e90b4c","8d1c7fd501c5891c","f01b25d4b70947c5","2d54070b31a406fe","3ebab86d9bd525df","b24c6e0df04207e5","7d91d102d90df2f6","af3ab5a5e2d16b92","db69bc3d43d58dfa","a3278e78b5c2d0af","a84fbe344e6fa1d5","46e70ea267b19196","1c6059a8f7ca25e5","25665c3658a1e501","04ae017b57f520c2","af45e91273e05a4b","cabb97869fff74bd","aa0a53792cba1438","799795b367db8119","1e7af1ab3d1276a0","57cb727e6d2b9d7f","b388ced95af3f2ab","cdfb894e36b83f8c","bfe2efd173c07b20","28a85377ca53cda3","030424b541ab3326"],"x":54,"y":59,"w":772,"h":1942},{"id":"a7f270d30f3468cc","type":"group","z":"ee95db94f847efdc","name":"CMS","style":{"stroke":"#000000","fill":"#ff7f7f","label":true,"color":"#000000"},"nodes":["4aca2bd9a8677fe3","f58b02b6b1b9bc84","d58273368e9c2dd1","55c3f49db61aaf6e","c7ff7af2deebe9dd","c02192bbcf1e6f50","f06e36b26dec516b","adc81e8fef571180","068075711cf5b5d7","6fb8b69d522d3850","ff1a7c56ade28246","bea3ba1979edb4a5","20328e892d28bbd8","2404db11900c49ef","31af4f0b25f68b55","f2dbcf04d603b46b","d1d76968313c81a9","5e4eca81e1f79d43","1d4e7e51b1c7c423","5ddde2fe3e4b253c","482041c80252e5c7","86796e471575f41c","d6284ecfc15cda75","21183733eb372495","16db05e3ca3ffac0","78d8a60215dd3e6e","f00960a49e410c5d"],"x":894,"y":39,"w":812,"h":1062},{"id":"2f237b2cefa98645","type":"group","z":"ee95db94f847efdc","name":"Nodo actuador","style":{"stroke":"#000000","fill":"#e3f3d3","label":true,"color":"#000000"},"nodes":["50d9e6c87243af13","54d05944f46de5a2","04874f93ba6f6527","7f8ad244b3d52d83","0a11a70cf7371f7a","72596925e5c4214d","7e5ca8ce5c1d7797","c0add03ae223e6bf","137dce0739369951","63b06bcc6d52a947"],"x":54,"y":4959,"w":952,"h":282},{"id":"c8e7f4b28ccfe73c","type":"group","z":"ee95db94f847efdc","name":"Sensor 3","style":{"stroke":"#000000","fill":"#e3f3d3","label":true,"color":"#000000"},"nodes":["4ff12304836c7a43","32dff5a1671120ea","b3eab78a1b78e3bc","a9962d5892c254a8","eeade01874ae28a8","13304eb45049e1d9","90fcf2b8ef866ec0","67080c0b89a4aebf","22df7582d10fe7d4","dbf0bd0fc3ac0b1b","2496062b66fc9f7a","598dc787c79e65ca","178c80e9c58ac33e","6522fcec53524cfd","23878a452291f18f","efae7ce5323b2f05","469395db27a7d707","eebe4353642e5a49","9bc51f7493822a95","174d67cea8aeec76","257243c4162d0750","fa5ee811993f6d14","10f6e723f23f229e","2c429d7e1561cf07","9550f1aed7db262d","506dd1aa32222630","6e70a32362a8c2af","a617a4780a46b9e7","c90351d0914dec15","1681d3e0e94c5a76","05cba2930ac47086","3fa552645f333298","08586348c6841a93","36d0b10562fbf7d0","7c3e893bc47468c9","616021a8373d590b","a96aeef2af949749"],"x":54,"y":3939,"w":1192,"h":982},{"id":"e3cb1dcf7582d16a","type":"mqtt-broker","name":"","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f7ecda5fcd174e5d","type":"mqtt-broker","name":"","broker":"192.168.88.252","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"72cd78f8ceb12c87","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"18cda8a4ddef503b","type":"sqlitedb","db":"/Users/angel/Documents/Universidad/Asignaturas_cuarto/Trabajo_TFG/Otros (HMi,BDD)/Base_de_datos_Red_IoT.db","mode":"RW"},{"id":"f84c005bee7b23ec","type":"sqlitedb","db":"/Users/diego/Downloads/GestionUsuarios.db","mode":"RW"},{"id":"cfa0e8765c550f0c","type":"ui_group","name":"Sensor 1","tab":"","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"c0b703d942eb6c60","type":"ui_group","name":"Sensor2","tab":"","order":2,"disp":true,"width":8,"collapse":false,"className":""},{"id":"c9bef1ac80a915ab","type":"ui_group","name":"Sensor 3","tab":"","order":3,"disp":true,"width":8,"collapse":false,"className":""},{"id":"44959e2298574f6f","type":"ui_tab","name":"Interfaz usuario","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e12f71a0e0e58c85","type":"ui_group","name":"Login","tab":"44959e2298574f6f","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"f5c3f6e56d803e9a","type":"ui_group","name":"Registrarse","tab":"44959e2298574f6f","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"7e9a99ba84a9c7bb","type":"ui_group","name":"Imagen1","tab":"44959e2298574f6f","order":1,"disp":false,"width":6,"collapse":false,"className":""},{"id":"675cc9d278d84f3e","type":"ui_group","name":"Log in","tab":"","order":1,"disp":true,"width":5,"collapse":false,"className":""},{"id":"b809f2e7b79c8a8e","type":"ui_group","name":"Sign up","tab":"","order":2,"disp":true,"width":8,"collapse":false,"className":""},{"id":"710d72773907b5d7","type":"ui_group","name":"Extras","tab":"","order":4,"disp":false,"width":3,"collapse":false,"className":""},{"id":"518740a4cae77def","type":"ui_group","name":"Sensor 1","tab":"","order":1,"disp":false,"width":6,"collapse":false,"className":""},{"id":"c853fbf10a2cdb5e","type":"ui_group","name":"Sensor 2","tab":"","order":2,"disp":false,"width":6,"collapse":false,"className":""},{"id":"b5f4919c21cd6839","type":"ui_group","name":"Sensor 3","tab":"","order":3,"disp":false,"width":6,"collapse":false,"className":""},{"id":"ef7383d234d514af","type":"ui_tab","name":"Nodo Sensor 1","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ea506e62e086912f","type":"ui_tab","name":"Nodo Sensor 2","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"18bdb7d1c15003e1","type":"ui_tab","name":"Nodo Sensor 3","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"08ce921bbf4245dd","type":"ui_group","name":"Temperatura","tab":"ea506e62e086912f","order":1,"disp":false,"width":7,"collapse":false,"className":""},{"id":"05147ca138bc75e5","type":"ui_group","name":"Presión","tab":"ea506e62e086912f","order":2,"disp":false,"width":7,"collapse":false,"className":""},{"id":"fb653075e5af83b8","type":"ui_group","name":"Humedad relativa","tab":"ea506e62e086912f","order":3,"disp":false,"width":7,"collapse":false,"className":""},{"id":"e11d10f97cb5552b","type":"ui_group","name":"Temperatura","tab":"18bdb7d1c15003e1","order":1,"disp":false,"width":7,"collapse":false,"className":""},{"id":"8097bc13feca37fb","type":"ui_group","name":"Presión","tab":"18bdb7d1c15003e1","order":2,"disp":false,"width":7,"collapse":false,"className":""},{"id":"313dfd5f6cee5a51","type":"ui_group","name":"Humedad relativa","tab":"18bdb7d1c15003e1","order":3,"disp":false,"width":7,"collapse":false,"className":""},{"id":"6f906ef1854e23a7","type":"ui_tab","name":"CMS","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"6e349e6aa0437e5f","type":"ui_group","name":"CMS","tab":"6f906ef1854e23a7","order":1,"disp":false,"width":30,"collapse":false,"className":""},{"id":"8623de5243409d4e","type":"mqtt-broker","name":"","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b2577e7847fd9a51","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":1,"width":"","height":""},{"id":"b1b5fdfa978744c2","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":2,"width":5,"height":1},{"id":"6671153fdc86dc90","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":5,"width":5,"height":1},{"id":"5286ab926279184b","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":6,"width":5,"height":1},{"id":"e1d60f5f4b8ef893","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":7,"width":5,"height":1},{"id":"41bdec7dd87f0e35","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":8,"width":5,"height":1},{"id":"fcd5cd7b78b011bf","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":11,"width":5,"height":1},{"id":"4711c2f59181cd46","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":12,"width":5,"height":1},{"id":"043ea39e14a8146c","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":13,"width":5,"height":1},{"id":"fc439ca451f2ec64","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":14,"width":5,"height":1},{"id":"9e0cdb95f2ef4bb6","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":3,"width":3,"height":1},{"id":"087b795f1e27cf79","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":6,"width":3,"height":1},{"id":"f3367763c27b5838","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":3,"width":3,"height":1},{"id":"ab742fd2fe99c2eb","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":6,"width":"","height":""},{"id":"0d0562ddf33a1342","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":3,"width":3,"height":1},{"id":"724a6318d39fefdf","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":6,"width":3,"height":1},{"id":"772c1f9c675aae39","type":"coap-server","name":"Coap_edu_thread_server","port":"5683","ipv6":true},{"id":"a8ba6d3874678d65","type":"sqlitedb","db":"/data/shared_db/Base_de_datos_Red_IoT.db","mode":"RW"},{"id":"7d839823df0a4f23","type":"ui_group","name":"Imagen2","tab":"44959e2298574f6f","order":4,"disp":false,"width":6,"collapse":false,"className":""},{"id":"5d6c7e1bf0b2a7e3","type":"ui_tab","name":"Historico Datos S1","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"e3d22e1d39943002","type":"ui_tab","name":"Historico Datos S2","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"fb2b13582f5013e6","type":"ui_tab","name":"Historico Datos S3","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"65bcc1cefd5f34e7","type":"ui_group","name":"Temperatura","tab":"e3d22e1d39943002","order":1,"disp":true,"width":9,"collapse":false,"className":""},{"id":"841db9d0419cb2b5","type":"ui_group","name":"Temperatura","tab":"5d6c7e1bf0b2a7e3","order":1,"disp":true,"width":9,"collapse":false,"className":""},{"id":"d39a0f0638c1ed4e","type":"ui_group","name":"Temperatura","tab":"fb2b13582f5013e6","order":1,"disp":true,"width":9,"collapse":false,"className":""},{"id":"49c740c1ec2d1e8f","type":"ui_group","name":"Presión","tab":"5d6c7e1bf0b2a7e3","order":2,"disp":true,"width":9,"collapse":false,"className":""},{"id":"443c3e562bc8accb","type":"ui_group","name":"Humedad relativa","tab":"5d6c7e1bf0b2a7e3","order":3,"disp":true,"width":9,"collapse":false,"className":""},{"id":"970f577aafc9982d","type":"ui_group","name":"Presión","tab":"e3d22e1d39943002","order":2,"disp":true,"width":9,"collapse":false,"className":""},{"id":"a0582061d3bdb9c1","type":"ui_group","name":"Humedad relativa","tab":"e3d22e1d39943002","order":3,"disp":true,"width":9,"collapse":false,"className":""},{"id":"23a213c993fc8f03","type":"ui_group","name":"Presión","tab":"fb2b13582f5013e6","order":2,"disp":true,"width":9,"collapse":false,"className":""},{"id":"62932790a4aa5a2d","type":"ui_group","name":"Humedad relativa","tab":"fb2b13582f5013e6","order":3,"disp":true,"width":9,"collapse":false,"className":""},{"id":"44d1b5f823f41b9b","type":"ui_group","name":"Extras","tab":"ef7383d234d514af","order":5,"disp":false,"width":3,"collapse":false,"className":""},{"id":"733560c6cfe02b0b","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":2,"width":7,"height":1},{"id":"417fd1ebe0cbc94d","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":3,"width":7,"height":1},{"id":"66924dcee6c33a88","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":6,"width":5,"height":1},{"id":"cfbac15d997a32f7","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":7,"width":5,"height":1},{"id":"4252a7dc0018b0c8","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":8,"width":5,"height":1},{"id":"c2a38d072be1f959","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"486e5f5b16c0e9d8","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"11e427c58377908a","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"9fe6e1e7fce38bb8","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"491eca04349ce49b","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"3c0c44a9e7333cf4","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":9,"width":3,"height":1},{"id":"fceb46cbee589e41","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"17f530bf30ec467b","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":11,"width":3,"height":1},{"id":"7ed3f25dc883ba9e","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"d4140f8b2239631b","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":13,"width":3,"height":1},{"id":"2144cdcc3e0c5d79","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":2,"width":5,"height":1},{"id":"08586981cd8291db","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":5,"width":7,"height":1},{"id":"6b7af1c8a27dacb2","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":6,"width":7,"height":1},{"id":"74be50a272c34e72","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"b39c9f5835bde64c","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":3,"width":4,"height":1},{"id":"7377cf69dc20c861","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":5,"width":4,"height":1},{"id":"078a5e442d5b8222","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"fdc8a1bf9d2b28f2","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":7,"width":4,"height":1},{"id":"382543f550184217","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":8,"width":4,"height":1},{"id":"088e62c0662f2c1b","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"ef8c3bef6f5223ed","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":10,"width":4,"height":1},{"id":"116845e0cad9494a","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":11,"width":4,"height":1},{"id":"67292cb566a9b382","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":12,"width":27,"height":1},{"id":"85392ec00528a568","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":13,"width":2,"height":1},{"id":"55380197f256a7b1","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":15,"width":4,"height":1},{"id":"5754f10be95164d6","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":17,"width":4,"height":1},{"id":"06e4ea26a9c1c1d0","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":18,"width":2,"height":1},{"id":"c9bbc4fb87d99364","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":19,"width":4,"height":1},{"id":"4ac7cac309ae9dd4","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":20,"width":4,"height":1},{"id":"1c3d3343bbdccc42","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":21,"width":2,"height":1},{"id":"cdf5aa811bf0fc6f","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":22,"width":4,"height":1},{"id":"1a574c12a11f725b","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":23,"width":4,"height":1},{"id":"0e2fdba7b9cb741c","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":24,"width":27,"height":1},{"id":"04419f964f317e5b","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":25,"width":9,"height":1},{"id":"2f4d86c5b4b2e6ca","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":27,"width":6,"height":1},{"id":"d7e9c3ec922707a4","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":28,"width":9,"height":1},{"id":"f1f0913962614dc7","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":29,"width":6,"height":1},{"id":"8f91d4385bbac47a","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":30,"width":9,"height":1},{"id":"85284457b68bbab2","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"","order":31,"width":6,"height":1},{"id":"916849170c96a44b","type":"ui_group","name":"Temperatura","tab":"ef7383d234d514af","order":1,"disp":false,"width":7,"collapse":false,"className":""},{"id":"bd5b9ed42550e8ff","type":"ui_group","name":"Presión","tab":"ef7383d234d514af","order":2,"disp":false,"width":7,"collapse":false,"className":""},{"id":"27c3f8cb5dfbcc0d","type":"ui_group","name":"Humedad relativa","tab":"ef7383d234d514af","order":3,"disp":false,"width":7,"collapse":false,"className":""},{"id":"2eb91a04a80b3b4f","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"cfa0e8765c550f0c","order":1,"width":8,"height":1},{"id":"45a54e6fad08cdd4","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"c0b703d942eb6c60","order":1,"width":8,"height":1},{"id":"7d6318cfc33fa969","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"710d72773907b5d7","order":1,"width":3,"height":1},{"id":"97b989d495f2ba3d","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"710d72773907b5d7","order":3,"width":3,"height":1},{"id":"7caf0a3ef40a9a37","type":"ui_group","name":"Extras","tab":"ea506e62e086912f","order":4,"disp":false,"width":3,"collapse":false,"className":""},{"id":"f746603138a9eae6","type":"ui_group","name":"Extras","tab":"18bdb7d1c15003e1","order":4,"disp":false,"width":3,"collapse":false,"className":""},{"id":"a60b1eea60abe9d7","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"841db9d0419cb2b5","order":2,"width":1,"height":1},{"id":"a3dfde0b8c04303f","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"841db9d0419cb2b5","order":4,"width":9,"height":1},{"id":"509e765a6af7a8d0","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"49c740c1ec2d1e8f","order":2,"width":1,"height":1},{"id":"0a8df872ae1a7691","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"49c740c1ec2d1e8f","order":4,"width":9,"height":1},{"id":"2da29b976ced43da","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"49c740c1ec2d1e8f","order":6,"width":9,"height":1},{"id":"ee7d11edf981b416","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"49c740c1ec2d1e8f","order":7,"width":2,"height":1},{"id":"3bc35d6c9bdba995","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"49c740c1ec2d1e8f","order":9,"width":2,"height":1},{"id":"040982e5341b49c6","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"443c3e562bc8accb","order":2,"width":1,"height":1},{"id":"9886e8f1620f947f","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"443c3e562bc8accb","order":4,"width":9,"height":1},{"id":"33febb94c444b8e7","type":"ui_tab","name":"Nodo Actuador 1","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"5e6cbc9e69ea40e2","type":"ui_group","name":"Relé","tab":"33febb94c444b8e7","order":1,"disp":false,"width":21,"collapse":false,"className":""},{"id":"d0db150d65d5cd52","type":"ui_group","name":"Extras","tab":"33febb94c444b8e7","order":2,"disp":false,"width":3,"collapse":false,"className":""},{"id":"e75b49c3f5472399","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"916849170c96a44b","order":2,"width":2,"height":1},{"id":"3626078bbee3a9c4","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"916849170c96a44b","order":4,"width":2,"height":1},{"id":"363b427b531afa2d","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"916849170c96a44b","order":5,"width":2,"height":1},{"id":"8ecd8c64cbbb74b0","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"916849170c96a44b","order":6,"width":2,"height":1},{"id":"3bb07956880b38a7","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"916849170c96a44b","order":7,"width":2,"height":1},{"id":"849494e2fd7721b4","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"916849170c96a44b","order":8,"width":2,"height":1},{"id":"89f320ddf61b80d4","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"bd5b9ed42550e8ff","order":2,"width":2,"height":1},{"id":"88a2b488e4fdce03","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"bd5b9ed42550e8ff","order":4,"width":2,"height":1},{"id":"ebcde56b5099eb30","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"bd5b9ed42550e8ff","order":5,"width":2,"height":1},{"id":"a53d392f1e1084fc","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"bd5b9ed42550e8ff","order":6,"width":2,"height":1},{"id":"baed0cae135addcc","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"bd5b9ed42550e8ff","order":7,"width":2,"height":1},{"id":"d6848944b27c7439","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"bd5b9ed42550e8ff","order":8,"width":2,"height":1},{"id":"a2d4218b00d9e9e0","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"27c3f8cb5dfbcc0d","order":2,"width":2,"height":1},{"id":"cc600eaf98103a9a","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"27c3f8cb5dfbcc0d","order":4,"width":2,"height":1},{"id":"7b32b0c81b49e368","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"27c3f8cb5dfbcc0d","order":5,"width":2,"height":1},{"id":"8893d12221efe053","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"27c3f8cb5dfbcc0d","order":6,"width":2,"height":1},{"id":"f8f7ea7da439c248","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"27c3f8cb5dfbcc0d","order":7,"width":2,"height":1},{"id":"422bb9a268bc3853","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"27c3f8cb5dfbcc0d","order":8,"width":2,"height":1},{"id":"710313c27fe8fdf5","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"44d1b5f823f41b9b","order":3,"width":1,"height":1},{"id":"54359d8a503e8c40","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"44d1b5f823f41b9b","order":5,"width":1,"height":1},{"id":"3db8c1996b6b5234","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"44d1b5f823f41b9b","order":7,"width":1,"height":1},{"id":"995777c71e085ab0","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"44d1b5f823f41b9b","order":9,"width":1,"height":1},{"id":"7f95e34e9be56f23","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"44d1b5f823f41b9b","order":11,"width":1,"height":1},{"id":"72824a1254928fdb","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"44d1b5f823f41b9b","order":13,"width":1,"height":1},{"id":"912b3e027f869085","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"08ce921bbf4245dd","order":2,"width":2,"height":1},{"id":"f95e80979f830ea5","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"08ce921bbf4245dd","order":4,"width":2,"height":1},{"id":"118e1cc80ab295fb","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"08ce921bbf4245dd","order":5,"width":2,"height":1},{"id":"7d60932772c301fa","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"08ce921bbf4245dd","order":6,"width":2,"height":1},{"id":"a4dca9cac895e775","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"08ce921bbf4245dd","order":7,"width":2,"height":1},{"id":"2fd905804c8d35f5","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"08ce921bbf4245dd","order":8,"width":2,"height":1},{"id":"c1f6664673a9b890","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"05147ca138bc75e5","order":2,"width":2,"height":1},{"id":"ff7054b1e7e3da1c","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"05147ca138bc75e5","order":4,"width":2,"height":1},{"id":"5289a138cc33c46b","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"05147ca138bc75e5","order":5,"width":2,"height":1},{"id":"6e418f4317658cb6","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"05147ca138bc75e5","order":6,"width":2,"height":1},{"id":"50136f5604d0ba14","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"05147ca138bc75e5","order":7,"width":2,"height":1},{"id":"8406c71f7dcebd15","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"05147ca138bc75e5","order":8,"width":2,"height":1},{"id":"1e82ade05ad14f5b","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"fb653075e5af83b8","order":2,"width":2,"height":1},{"id":"3dcc8b554855257e","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"fb653075e5af83b8","order":4,"width":2,"height":1},{"id":"bea51f817202c112","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"fb653075e5af83b8","order":5,"width":2,"height":1},{"id":"68e3010a50d12d76","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"fb653075e5af83b8","order":6,"width":2,"height":1},{"id":"53f4aa143df1473e","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"fb653075e5af83b8","order":7,"width":2,"height":1},{"id":"4f7ef4e35622736c","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"fb653075e5af83b8","order":8,"width":2,"height":1},{"id":"6f4d72d238852b96","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"7caf0a3ef40a9a37","order":3,"width":1,"height":1},{"id":"2025c77df4ae68fd","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"7caf0a3ef40a9a37","order":5,"width":1,"height":1},{"id":"02ca3c93e5d72399","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"7caf0a3ef40a9a37","order":7,"width":1,"height":1},{"id":"6620a26aaf56af5a","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"7caf0a3ef40a9a37","order":9,"width":1,"height":1},{"id":"3913e1a1c284d482","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"7caf0a3ef40a9a37","order":11,"width":1,"height":1},{"id":"ae066bf3d7f00927","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"7caf0a3ef40a9a37","order":13,"width":1,"height":1},{"id":"24b595e9b620a9dd","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"5e6cbc9e69ea40e2","order":1,"width":7,"height":1},{"id":"22df77d8a42e84de","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"5e6cbc9e69ea40e2","order":3,"width":8,"height":1},{"id":"23aa1d6207d14073","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"5e6cbc9e69ea40e2","order":4,"width":7,"height":1},{"id":"b8fefb11c757cf5e","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"5e6cbc9e69ea40e2","order":6,"width":8,"height":1},{"id":"535b129df492f00a","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"5e6cbc9e69ea40e2","order":7,"width":7,"height":1},{"id":"52ef184e406a44a6","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"5e6cbc9e69ea40e2","order":9,"width":8,"height":1},{"id":"02b1bd0cf836afd1","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"5e6cbc9e69ea40e2","order":10,"width":7,"height":1},{"id":"74ee6c23d1e79106","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"5e6cbc9e69ea40e2","order":12,"width":7,"height":1},{"id":"ffceb06cca7dde08","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"5e6cbc9e69ea40e2","order":13,"width":7,"height":1},{"id":"c1773dd7a0a7edd7","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"5e6cbc9e69ea40e2","order":14,"width":7,"height":1},{"id":"4b400dd98a9345bd","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"5e6cbc9e69ea40e2","order":15,"width":7,"height":1},{"id":"a158d2cd9c683a4a","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"d0db150d65d5cd52","order":1,"width":1,"height":1},{"id":"efc66fb7792329dc","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"d0db150d65d5cd52","order":3,"width":1,"height":1},{"id":"1fb4ce606196da48","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"d0db150d65d5cd52","order":5,"width":1,"height":1},{"id":"165a473bedcf4655","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"d0db150d65d5cd52","order":7,"width":1,"height":1},{"id":"5b5a260ba5a8403c","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"e11d10f97cb5552b","order":2,"width":2,"height":1},{"id":"dfe4529f6a56c07e","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"e11d10f97cb5552b","order":4,"width":2,"height":1},{"id":"83f9c1897b3d2020","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"e11d10f97cb5552b","order":5,"width":2,"height":1},{"id":"0d468dbc0db191d7","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"e11d10f97cb5552b","order":6,"width":2,"height":1},{"id":"bb99b7f02f75c632","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"e11d10f97cb5552b","order":7,"width":2,"height":1},{"id":"15544a493895748c","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"e11d10f97cb5552b","order":8,"width":2,"height":1},{"id":"bf767b3eba1ec588","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"8097bc13feca37fb","order":2,"width":2,"height":1},{"id":"e71733702a4b3aa8","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"8097bc13feca37fb","order":4,"width":2,"height":1},{"id":"9b64a21af0ad6d51","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"8097bc13feca37fb","order":5,"width":2,"height":1},{"id":"a6cdf8e24271974a","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"8097bc13feca37fb","order":6,"width":2,"height":1},{"id":"e462a3536bea33cf","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"8097bc13feca37fb","order":7,"width":2,"height":1},{"id":"65322449c7244e80","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"8097bc13feca37fb","order":8,"width":2,"height":1},{"id":"613edffeb63d0e8a","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"313dfd5f6cee5a51","order":2,"width":2,"height":1},{"id":"980a2d40dff92d45","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"313dfd5f6cee5a51","order":4,"width":2,"height":1},{"id":"07c8bead4d0dc165","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"313dfd5f6cee5a51","order":5,"width":2,"height":1},{"id":"9b6378cefefdd6dd","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"313dfd5f6cee5a51","order":6,"width":2,"height":1},{"id":"e50560320a71fcda","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"313dfd5f6cee5a51","order":7,"width":2,"height":1},{"id":"46af535205359f0a","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"313dfd5f6cee5a51","order":8,"width":2,"height":1},{"id":"fb70f7add68c77fd","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"f746603138a9eae6","order":3,"width":1,"height":1},{"id":"e173a5dbd86cc08d","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"f746603138a9eae6","order":5,"width":1,"height":1},{"id":"118569ba7f1307eb","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"f746603138a9eae6","order":7,"width":1,"height":1},{"id":"368ac4374b874bdf","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"f746603138a9eae6","order":9,"width":1,"height":1},{"id":"613cba6231589a1f","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"f746603138a9eae6","order":11,"width":1,"height":1},{"id":"b75b5ad07b49d998","type":"ui_spacer","z":"ee95db94f847efdc","name":"spacer","group":"f746603138a9eae6","order":13,"width":1,"height":1},{"id":"411ed0422d4f5a4c","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"d39a0f0638c1ed4e","order":2,"width":1,"height":1},{"id":"b5a507f7c90e6e37","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"d39a0f0638c1ed4e","order":4,"width":9,"height":1},{"id":"54eb6f42454650f1","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"23a213c993fc8f03","order":2,"width":1,"height":1},{"id":"44644bc21a9424e7","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"23a213c993fc8f03","order":4,"width":9,"height":1},{"id":"14d70b3a7f81e4b4","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"23a213c993fc8f03","order":6,"width":9,"height":1},{"id":"0365d5548cbd34e8","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"23a213c993fc8f03","order":7,"width":2,"height":1},{"id":"750db00e2f0d3046","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"23a213c993fc8f03","order":9,"width":2,"height":1},{"id":"302bf18095aba235","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"62932790a4aa5a2d","order":2,"width":1,"height":1},{"id":"26e6a67730924a3d","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"62932790a4aa5a2d","order":4,"width":9,"height":1},{"id":"f9679de9731a98d8","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"65bcc1cefd5f34e7","order":2,"width":1,"height":1},{"id":"e144ed1cbe6b574e","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"65bcc1cefd5f34e7","order":4,"width":9,"height":1},{"id":"46d7be8967301ccd","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"970f577aafc9982d","order":2,"width":1,"height":1},{"id":"b9c436d66d023d31","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"970f577aafc9982d","order":4,"width":9,"height":1},{"id":"398be6b4130ae67d","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"970f577aafc9982d","order":6,"width":9,"height":1},{"id":"c229b1df55d718f6","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"970f577aafc9982d","order":7,"width":2,"height":1},{"id":"8359ed3bb97e3b55","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"970f577aafc9982d","order":9,"width":2,"height":1},{"id":"39980df739aaef3b","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"a0582061d3bdb9c1","order":2,"width":1,"height":1},{"id":"de4c57c5522dbe7a","type":"ui_spacer","z":"b1b5331ef057c744","name":"spacer","group":"a0582061d3bdb9c1","order":4,"width":9,"height":1},{"id":"7e8dd7a55305efd5","type":"change","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"Borrar","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":780,"wires":[["b62dece41fbd0507","edfd26b61c18c01a","5442ed8ef48e749f"]]},{"id":"15804c9cd4f2c874","type":"join","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"Union","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":780,"wires":[["e53103168b7298a2"]]},{"id":"e53103168b7298a2","type":"function","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"Consulta usuario","func":"msg.topic = \"SELECT * from Usuarios where Nombre= $nombre and Primer_Apellido= $PrimerApellido and Segundo_Apellido=$SegundoApellido\"\nmsg.payload = [msg.payload.Nombre, msg.payload.PrimerApellido, msg.payload.SegundoApellido];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":780,"wires":[["10834b5ae46207d7"]]},{"id":"0cde7c6bb7bc3096","type":"function","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"Consulta usuario","func":"msg.topic = \"SELECT * from Usuarios where Nombre= $nombre and Primer_Apellido= $PrimerApellido and Segundo_Apellido=$SegundoApellido\"\nmsg.payload = [msg.payload.Nombre, msg.payload.PrimerApellido, msg.payload.SegundoApellido];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1200,"wires":[["5880521a20020379"]]},{"id":"3da53d7b4bae89ae","type":"change","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"copia payload","rules":[{"t":"set","p":"payload_copia","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1200,"wires":[["0cde7c6bb7bc3096"]]},{"id":"8c835da723648afc","type":"switch","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"¿Existe el usuario?","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1200,"wires":[["ca2fc7b942450fff"],["74d83cdfed6ffcf6"]]},{"id":"74d83cdfed6ffcf6","type":"change","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"copia payload","rules":[{"t":"move","p":"payload_copia","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":1280,"wires":[["4984e56703528f07"]]},{"id":"4984e56703528f07","type":"function","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"Inserta usuario","func":"msg.topic = \"INSERT INTO Usuarios ('Nombre', 'Primer_Apellido', 'Segundo_Apellido', 'RolID')  VALUES ($Nombre, $PrimerApellido, $SegundoApellido, $RolID)\"\nmsg.payload = [msg.payload.Nombre, msg.payload.PrimerApellido,msg.payload.SegundoApellido, msg.payload.Rol];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":1280,"wires":[["7ed84ec9eaa2c1bd","1ce8338d592dd4e2"]]},{"id":"ca2fc7b942450fff","type":"change","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Existe usuario","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":1100,"wires":[["97aa5e9462d21fe2","37c6455117c18b83"]]},{"id":"1ce8338d592dd4e2","type":"change","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Usuario insertado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":1200,"wires":[["97aa5e9462d21fe2","8492afb90e75c97f"]]},{"id":"05aa98791be20750","type":"change","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"Cambia","rules":[{"t":"set","p":"complete","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":960,"wires":[["15804c9cd4f2c874"]]},{"id":"64a32e99d8d72280","type":"change","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Usuario no registrado. Porfavor registrese primero","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":860,"wires":[["a87ca84cbffe33a3","3b4a712d1445e152"]]},{"id":"a4677304baaf6db6","type":"switch","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"¿Existe el usuario?","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":780,"wires":[["922b0eb0acb2d069"],["64a32e99d8d72280"]]},{"id":"922b0eb0acb2d069","type":"change","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sesion iniciada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":660,"wires":[["a87ca84cbffe33a3","3a808f054ffd8792","7671863bdb5a5463","1668ec3a836126d8","d6ae7e5e05f228ae"]]},{"id":"3a808f054ffd8792","type":"change","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"CMS\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":600,"wires":[["e597f15a595904a6"]]},{"id":"7671863bdb5a5463","type":"change","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"Ocultamiento Interfaz Usuario","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Interfaz usuario\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":660,"wires":[["e597f15a595904a6"]]},{"id":"1668ec3a836126d8","type":"change","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"Mostrado CMS","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"CMS\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":720,"wires":[["e597f15a595904a6"]]},{"id":"16889b1e27fd0aee","type":"change","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Mostrado Interfaz Usuario","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Interfaz Usuario\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[["15bba5de593fa9c1"]]},{"id":"3b3b969b36a78ac6","type":"change","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Pantalla Interfaz usuario","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\" : \"Interfaz usuario\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":440,"wires":[["15bba5de593fa9c1"]]},{"id":"c69aa6d4396627d6","type":"function","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Delay","func":"setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 200);\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":440,"wires":[["3b3b969b36a78ac6"]]},{"id":"6079a14e2648583f","type":"change","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Ocultamiento Nodo Sensor 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["15bba5de593fa9c1"]]},{"id":"40f92306fef06fce","type":"change","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Ocultamiento Nodo Sensor 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[["15bba5de593fa9c1"]]},{"id":"71455c2c01378513","type":"change","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Ocultamiento Nodo Sensor 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["15bba5de593fa9c1"]]},{"id":"37c6455117c18b83","type":"function","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"Delay","func":"setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 5000);\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":1140,"wires":[["7b45dae3a066d3b7"]]},{"id":"8492afb90e75c97f","type":"function","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"Delay","func":"setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 5000);\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1950,"y":1200,"wires":[["682255e6f9b3e641"]]},{"id":"7b45dae3a066d3b7","type":"change","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":1140,"wires":[["97aa5e9462d21fe2"]]},{"id":"682255e6f9b3e641","type":"change","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":1200,"wires":[["97aa5e9462d21fe2"]]},{"id":"3b4a712d1445e152","type":"function","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"Delay","func":"setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 5000);\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":940,"wires":[["5e9f8cbb5230b522"]]},{"id":"5e9f8cbb5230b522","type":"change","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":940,"wires":[["a87ca84cbffe33a3"]]},{"id":"d6ae7e5e05f228ae","type":"function","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"Delay","func":"setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 5000);\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":780,"wires":[["3647ed2943a52f6c"]]},{"id":"3647ed2943a52f6c","type":"change","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":780,"wires":[["a87ca84cbffe33a3"]]},{"id":"6988ff12f8ea0b74","type":"ui_button","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"","group":"e12f71a0e0e58c85","order":4,"width":0,"height":0,"passthru":false,"label":"Log In","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":780,"wires":[["7e8dd7a55305efd5","05aa98791be20750"]]},{"id":"b62dece41fbd0507","type":"ui_text_input","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"","label":"Nombre","tooltip":"","group":"e12f71a0e0e58c85","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"Nombre","sendOnBlur":true,"className":"","topicType":"str","x":520,"y":680,"wires":[["15804c9cd4f2c874"]]},{"id":"edfd26b61c18c01a","type":"ui_text_input","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"","label":"Primer Apellido","tooltip":"","group":"e12f71a0e0e58c85","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"PrimerApellido","sendOnBlur":true,"className":"","topicType":"str","x":520,"y":760,"wires":[["15804c9cd4f2c874"]]},{"id":"5442ed8ef48e749f","type":"ui_text_input","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"","label":"Segundo Apellido","tooltip":"","group":"e12f71a0e0e58c85","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"SegundoApellido","sendOnBlur":true,"className":"","topicType":"str","x":530,"y":840,"wires":[["15804c9cd4f2c874"]]},{"id":"a87ca84cbffe33a3","type":"ui_text","z":"7f506ec776d03402","g":"941604338eef0d6a","group":"e12f71a0e0e58c85","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Courier,monospace","fontSize":"12","color":"#000000","x":2170,"y":860,"wires":[]},{"id":"97aa5e9462d21fe2","type":"ui_text","z":"7f506ec776d03402","g":"523bbfad8e60deeb","group":"f5c3f6e56d803e9a","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Courier,monospace","fontSize":"12","color":"#000000","x":2250,"y":1100,"wires":[]},{"id":"7a6c2ebbbecf7e34","type":"ui_form","z":"7f506ec776d03402","g":"523bbfad8e60deeb","name":"","label":"","group":"f5c3f6e56d803e9a","order":1,"width":0,"height":0,"options":[{"label":"Nombre","value":"Nombre","type":"text","required":true,"rows":null},{"label":"Primer Apellido","value":"PrimerApellido","type":"text","required":true,"rows":null},{"label":"Segundo Apellido","value":"SegundoApellido","type":"text","required":true,"rows":null},{"label":"Rol","value":"Rol","type":"number","required":true,"rows":null}],"formValue":{"Nombre":"","PrimerApellido":"","SegundoApellido":"","Rol":""},"payload":"","submit":"Registrar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":130,"y":1200,"wires":[["3da53d7b4bae89ae"]]},{"id":"e597f15a595904a6","type":"ui_ui_control","z":"7f506ec776d03402","g":"941604338eef0d6a","name":"Control","events":"all","x":2500,"y":660,"wires":[[]]},{"id":"84dbf902cf6dbac1","type":"ui_ui_control","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Entrada","events":"connect","x":140,"y":260,"wires":[["16889b1e27fd0aee","c69aa6d4396627d6","71455c2c01378513","40f92306fef06fce","6079a14e2648583f","e2ef18c683ca69ee","83533412a15fd72e","ea295c31282e43e8","45b7aeaa11b8f4c0","042f413fb2f0fd3e"]]},{"id":"15bba5de593fa9c1","type":"ui_ui_control","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Control","events":"all","x":840,"y":280,"wires":[[]]},{"id":"10834b5ae46207d7","type":"sqlite","z":"7f506ec776d03402","g":"941604338eef0d6a","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"GestionUsuarios","x":1200,"y":780,"wires":[["a4677304baaf6db6"]]},{"id":"5880521a20020379","type":"sqlite","z":"7f506ec776d03402","g":"523bbfad8e60deeb","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"GestionUsuarios","x":770,"y":1200,"wires":[["8c835da723648afc"]]},{"id":"7ed84ec9eaa2c1bd","type":"sqlite","z":"7f506ec776d03402","g":"523bbfad8e60deeb","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"GestionUsuarios","x":1710,"y":1280,"wires":[[]]},{"id":"fea41894439bf8a4","type":"ui_media","z":"7f506ec776d03402","g":"523bbfad8e60deeb","group":"7d839823df0a4f23","name":"","width":6,"height":5,"order":1,"category":"Openthread","file":"Openthread.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":450,"y":1320,"wires":[[]]},{"id":"254e308358853f23","type":"ui_media","z":"7f506ec776d03402","g":"523bbfad8e60deeb","group":"7e9a99ba84a9c7bb","name":"","width":0,"height":0,"order":1,"category":"Uniovi","file":"Logo Universidad de Oviedo.jpg.png","layout":"adjust","showcontrols":false,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":450,"y":1380,"wires":[[]]},{"id":"e2ef18c683ca69ee","type":"change","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Ocultamiento CMS","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"CMS\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":340,"wires":[["15bba5de593fa9c1"]]},{"id":"83533412a15fd72e","type":"change","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Ocultamiento Historico Datos S1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["15bba5de593fa9c1"]]},{"id":"ea295c31282e43e8","type":"change","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Ocultamiento Historico Datos S2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[["15bba5de593fa9c1"]]},{"id":"45b7aeaa11b8f4c0","type":"change","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Ocultamiento Historico Datos S3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["15bba5de593fa9c1"]]},{"id":"042f413fb2f0fd3e","type":"change","z":"7f506ec776d03402","g":"28d6a536953c4681","name":"Ocultamiento Nodo actuador 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo actuador 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":380,"wires":[["15bba5de593fa9c1"]]},{"id":"e3663eed372cc414","type":"mqtt in","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","topic":"sensor2/temperatura","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":3080,"wires":[["3cb7e0ffe193ac50","6fcf4a6d0803733f","a70521c9de276fd2"]]},{"id":"49703261821d4601","type":"mqtt in","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","topic":"sensor2/presion","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":3300,"wires":[["70832474ddcd8513","88b54082615139f2","d32d5c2339f20513"]]},{"id":"38dc63eaf09ffe4f","type":"mqtt in","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","topic":"sensor2/humedad_rel","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":3560,"wires":[["065af7cc8d096c22","6f02389dcbc6fa9c","ab1487012ab9e968"]]},{"id":"dcfa59a59163da12","type":"function","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Inserta temperatura","func":"let fechaHoraLocal = new Date().toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" });\n\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES ($Fechahoraact, 4, $Valor)\";\n\nmsg.payload = [fechaHoraLocal, msg.payload.Valortemp];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":2980,"wires":[["4b5a724c78d14258"]]},{"id":"3cb7e0ffe193ac50","type":"function","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Convertir a objeto","func":"// Convertir el valor en objeto limpio \nmsg.payload = { Valortemp: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":2980,"wires":[["dcfa59a59163da12"]]},{"id":"70832474ddcd8513","type":"function","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Convertir a objeto","func":"// Convertir el valor en objeto limpio \nmsg.payload = { Valorpress: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":3200,"wires":[["d5583195a8163f4c"]]},{"id":"065af7cc8d096c22","type":"function","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Convertir a objeto","func":"// Convertir el valor en objeto limpio \nmsg.payload = { Valorhumrel: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":3460,"wires":[["e1dbfba026fab610"]]},{"id":"d5583195a8163f4c","type":"function","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Inserta presion","func":"let fechaHoraLocal = new Date().toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" });\n\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES ($Fechahoraact, 5, $Valor)\";\n\nmsg.payload = [fechaHoraLocal,msg.payload.Valorpress];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":3200,"wires":[["4b5a724c78d14258"]]},{"id":"e1dbfba026fab610","type":"function","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Inserta humedad relativa","func":"let fechaHoraLocal = new Date().toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" });\n\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES ($Fechahoraact, 6, $Valor)\";\n\nmsg.payload = [fechaHoraLocal, msg.payload.Valorhumrel];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":3460,"wires":[["4dbda816792684e6","4b5a724c78d14258"]]},{"id":"4dbda816792684e6","type":"change","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Medidas insertadas S2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":3540,"wires":[["0d4ba8b1cec62970"]]},{"id":"0d4ba8b1cec62970","type":"debug","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Comprobacion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":3540,"wires":[]},{"id":"b424578b6098b9d9","type":"mqtt in","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","topic":"sensor1/temperatura","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":2140,"wires":[["1e25f0de1b5358d5","4faed0e69f45816b","731b3551a1a65d1c"]]},{"id":"7e8d96125ef52e60","type":"mqtt in","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","topic":"sensor1/presion","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":2360,"wires":[["0d4a9e255e6dbf1f","345e59d5953f9205","a2e1c1e34c1141d8"]]},{"id":"b8fdb97dc42dd5b7","type":"mqtt in","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","topic":"sensor1/humedad_rel","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":2620,"wires":[["dbeef37e0abcc6a7","f7e33da329139244","4d8f914ef9554c00"]]},{"id":"3bbaf25f88a43100","type":"function","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Inserta temperatura","func":"let fechaHoraLocal = new Date().toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" });\n\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES ($Fechahoraact, 1, $Valor)\";\n\nmsg.payload = [fechaHoraLocal, msg.payload.Valortemp];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":2060,"wires":[["249fd7c143ca8872"]]},{"id":"1e25f0de1b5358d5","type":"function","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Convertir a objeto","func":"// Convertir el valor en objeto limpio \nmsg.payload = { Valortemp: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":2060,"wires":[["3bbaf25f88a43100"]]},{"id":"0d4a9e255e6dbf1f","type":"function","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Convertir a objeto","func":"// Convertir el valor en objeto limpio \nmsg.payload = { Valorpress: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":2260,"wires":[["2286e91c1fb3812d"]]},{"id":"dbeef37e0abcc6a7","type":"function","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Convertir a objeto","func":"// Convertir el valor en objeto limpio \nmsg.payload = { Valorhumrel: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":2520,"wires":[["ff44064c0da852c0"]]},{"id":"2286e91c1fb3812d","type":"function","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Inserta presion","func":"let fechaHoraLocal = new Date().toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" });\n\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES ($Fechahoraact, 2, $Valor)\";\n\nmsg.payload = [fechaHoraLocal,msg.payload.Valorpress];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2260,"wires":[["249fd7c143ca8872"]]},{"id":"ff44064c0da852c0","type":"function","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Inserta humedad relativa","func":"let fechaHoraLocal = new Date().toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" });\n\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES ($Fechahoraact, 3, $Valor)\";\n\nmsg.payload = [fechaHoraLocal, msg.payload.Valorhumrel];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":2520,"wires":[["7b81ef2f8a1a7ce0","249fd7c143ca8872"]]},{"id":"7b81ef2f8a1a7ce0","type":"change","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Medidas insertadas S1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2600,"wires":[["4a71c43907966e0c"]]},{"id":"4faed0e69f45816b","type":"ui_gauge","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","group":"916849170c96a44b","order":3,"width":3,"height":3,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00a8f0","#d9e59e","#f50000"],"seg1":"","seg2":"","diff":false,"className":"","x":410,"y":2120,"wires":[]},{"id":"a2e1c1e34c1141d8","type":"ui_gauge","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","group":"bd5b9ed42550e8ff","order":3,"width":3,"height":3,"gtype":"gage","title":"","label":"Hpa","format":"{{value}}","min":"900","max":"1200","colors":["#00a8f0","#d9e59e","#f50000"],"seg1":"","seg2":"","diff":false,"className":"","x":410,"y":2340,"wires":[]},{"id":"f7e33da329139244","type":"ui_gauge","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","group":"27c3f8cb5dfbcc0d","order":3,"width":3,"height":3,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":"40","max":"80","colors":["#00a8f0","#d9e59e","#f50000"],"seg1":"","seg2":"","diff":false,"className":"","x":410,"y":2620,"wires":[]},{"id":"6f02389dcbc6fa9c","type":"ui_gauge","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","group":"fb653075e5af83b8","order":3,"width":3,"height":3,"gtype":"gage","title":"<b>Humedad</b>","label":"%","format":"{{value}}","min":"40","max":"80","colors":["#00a8f0","#d9e59e","#f50000"],"seg1":"","seg2":"","diff":false,"className":"","x":490,"y":3560,"wires":[]},{"id":"d32d5c2339f20513","type":"ui_gauge","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","group":"05147ca138bc75e5","order":3,"width":3,"height":3,"gtype":"gage","title":"<b>Presión</b>","label":"Hpa","format":"{{value}}","min":"900","max":"1200","colors":["#00a8f0","#d9e59e","#f50000"],"seg1":"","seg2":"","diff":false,"className":"","x":480,"y":3280,"wires":[]},{"id":"a70521c9de276fd2","type":"ui_gauge","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","group":"08ce921bbf4245dd","order":3,"width":3,"height":3,"gtype":"gage","title":"<b>Temperatura</b>","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00a8f0","#d9e59e","#f50000"],"seg1":"","seg2":"","diff":false,"className":"","x":480,"y":3040,"wires":[]},{"id":"345e59d5953f9205","type":"ui_chart","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","group":"bd5b9ed42550e8ff","order":9,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":410,"y":2400,"wires":[[]]},{"id":"731b3551a1a65d1c","type":"ui_chart","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","group":"916849170c96a44b","order":9,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":410,"y":2180,"wires":[[]]},{"id":"88b54082615139f2","type":"ui_chart","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","group":"05147ca138bc75e5","order":9,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":450,"y":3340,"wires":[[]]},{"id":"6fcf4a6d0803733f","type":"ui_chart","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","group":"08ce921bbf4245dd","order":9,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":430,"y":3100,"wires":[[]]},{"id":"4b5a724c78d14258","type":"sqlite","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Insert medidas","x":940,"y":3200,"wires":[[]]},{"id":"249fd7c143ca8872","type":"sqlite","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Insert medidas","x":920,"y":2260,"wires":[[]]},{"id":"4a71c43907966e0c","type":"debug","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Comprobacion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":2600,"wires":[]},{"id":"1f0d60c33c2dc38f","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\" : \"Historico Datos S1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1380,"wires":[["c9e93e97bf2eea78"]]},{"id":"84da308f76e3de5a","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Mostrado Historico Datos S1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Historico Datos S1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1420,"wires":[["c9e93e97bf2eea78"]]},{"id":"bdbe7b62818f12cc","type":"ui_button","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"","group":"44d1b5f823f41b9b","order":6,"width":3,"height":1,"passthru":false,"label":"Cerrar Sesion","tooltip":"","color":"Black","bgcolor":"Red","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":200,"wires":[["2bb4d8a442dc8e46","eecabc84d64cd8eb","e49a6360a2d700f2","1db1b086b02990f6","b114b08b0b5bcc98","bd08fdd03cf9251b","5f27975d0c433951","b7feebb1da7b7e63","d3301b7f077e3599","a84fbe344e6fa1d5"]]},{"id":"db4ea7bed031a958","type":"ui_button","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"","group":"44d1b5f823f41b9b","order":14,"width":3,"height":1,"passthru":false,"label":"Histórico  de datos","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":1320,"wires":[["1f0d60c33c2dc38f","84da308f76e3de5a","06ddd7c92bbf4244","68bb6aede2100583","975d23fb5a5d5e79"]]},{"id":"912c9d089aed1e8d","type":"ui_ui_control","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Control","events":"all","x":740,"y":420,"wires":[[]]},{"id":"c9e93e97bf2eea78","type":"ui_ui_control","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Control","events":"all","x":720,"y":1340,"wires":[[]]},{"id":"e99a0f1fb6de9521","type":"ui_media","z":"ee95db94f847efdc","g":"cb407775ef27f324","group":"44d1b5f823f41b9b","name":"","width":1,"height":1,"order":4,"category":"Cerrar usuario","file":"Icono usuario.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":710,"y":100,"wires":[[]]},{"id":"4aca2bd9a8677fe3","type":"worldmap","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"CMS","lat":"43.522909","lon":"-5.628287","zoom":"17","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN","maplist":"OSMG,OSMC,EsriC,EsriS,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1330,"y":140,"wires":[]},{"id":"f58b02b6b1b9bc84","type":"function","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Sensor 1","func":"msg.payload = {\n    name: \"Sensor 1\",\n    lat: 43.523484, \n    lon: -5.629959,\n    icon: \"thermometer\",\n    color: \"blue\",\n    popup: `\n    Sensor: BME 280<br>\n      Estado: Midiendo<br><br>\n\n        <a href=\"/goto-sensor1\">\n          Ver datos del sensor\n        </a>\n    `\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":80,"wires":[["4aca2bd9a8677fe3"]]},{"id":"d58273368e9c2dd1","type":"function","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Sensor 2","func":"msg.payload = {\n    name: \"Sensor 2\",\n    lat: 43.523032, \n    lon: -5.630094,\n    icon: \"thermometer\",\n    color: \"blue\",\n     popup: `\n      Estado: OK<br><br>\n      <a href=\"/goto-sensor2\">\n      Ver datos del sensor\n      </a>\n    `\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":140,"wires":[["4aca2bd9a8677fe3"]]},{"id":"55c3f49db61aaf6e","type":"function","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Sensor 3","func":"msg.payload = {\n    name: \"Sensor 3\",\n    lat: 43.524758, \n    lon: -5.634974,\n    icon: \"thermometer\",\n    color: \"blue\",\n     popup: `\n      Estado: OK<br><br>\n      <a href=\"/goto-sensor3\">\n      Ver datos del sensor\n      </a>\n    `\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":200,"wires":[["4aca2bd9a8677fe3"]]},{"id":"c7ff7af2deebe9dd","type":"ui_template","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","group":"6e349e6aa0437e5f","name":"","order":1,"width":0,"height":0,"format":"<iframe src=\"/worldmap\" width=\"100%\" height=\"800px\" style=\"border:none;\">\n</iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":980,"y":300,"wires":[[]]},{"id":"c02192bbcf1e6f50","type":"ui_ui_control","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Entrada","events":"all","x":980,"y":140,"wires":[["f58b02b6b1b9bc84","d58273368e9c2dd1","55c3f49db61aaf6e","86796e471575f41c"]]},{"id":"f06e36b26dec516b","type":"http in","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Datos Nodo Sensor 1","url":"/goto-sensor1","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":1020,"y":400,"wires":[["adc81e8fef571180","068075711cf5b5d7","6fb8b69d522d3850"]]},{"id":"adc81e8fef571180","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Nodo Sensor 1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":340,"wires":[["ff1a7c56ade28246"]]},{"id":"068075711cf5b5d7","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Ocultamiento CMS","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"CMS\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":400,"wires":[["ff1a7c56ade28246"]]},{"id":"6fb8b69d522d3850","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Mostrado Nodo Sensor 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Nodo Sensor 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":460,"wires":[["ff1a7c56ade28246"]]},{"id":"ff1a7c56ade28246","type":"ui_ui_control","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Control","events":"all","x":1620,"y":400,"wires":[[]]},{"id":"4d8f914ef9554c00","type":"ui_chart","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","group":"27c3f8cb5dfbcc0d","order":9,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":410,"y":2680,"wires":[[]]},{"id":"ab1487012ab9e968","type":"ui_chart","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","group":"fb653075e5af83b8","order":9,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":450,"y":3620,"wires":[[]]},{"id":"8f7c419b5418582d","type":"ui_button","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"","group":"7caf0a3ef40a9a37","order":6,"width":0,"height":0,"passthru":false,"label":"Cerrar Sesion","tooltip":"","color":"Black","bgcolor":"Red","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":260,"wires":[["b7feebb1da7b7e63","5f27975d0c433951","bd08fdd03cf9251b","b114b08b0b5bcc98","1db1b086b02990f6","e49a6360a2d700f2","eecabc84d64cd8eb","2bb4d8a442dc8e46","d3301b7f077e3599","a84fbe344e6fa1d5"]]},{"id":"55fe0c90e08f324f","type":"ui_button","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"","group":"f746603138a9eae6","order":6,"width":3,"height":1,"passthru":false,"label":"Cerrar Sesion","tooltip":"","color":"Black","bgcolor":"Red","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":320,"wires":[["b7feebb1da7b7e63","5f27975d0c433951","bd08fdd03cf9251b","b114b08b0b5bcc98","1db1b086b02990f6","e49a6360a2d700f2","eecabc84d64cd8eb","2bb4d8a442dc8e46","d3301b7f077e3599","a84fbe344e6fa1d5"]]},{"id":"595cb89924a186f4","type":"ui_media","z":"ee95db94f847efdc","g":"cb407775ef27f324","group":"7caf0a3ef40a9a37","name":"","width":1,"height":1,"order":4,"category":"Cerrar usuario","file":"Icono usuario.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":710,"y":160,"wires":[[]]},{"id":"98cd313473781fcb","type":"ui_media","z":"ee95db94f847efdc","g":"cb407775ef27f324","group":"f746603138a9eae6","name":"","width":1,"height":1,"order":4,"category":"Cerrar usuario","file":"Icono usuario.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":710,"y":220,"wires":[[]]},{"id":"ca8c78222ac91c69","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\" : \"Historico Datos S2\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1660,"wires":[["a68188613ce6f166"]]},{"id":"03640bbee8b38885","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Mostrado Historico Datos S2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Historico Datos S2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1700,"wires":[["a68188613ce6f166"]]},{"id":"f2bd148ca1dab394","type":"ui_button","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"","group":"7caf0a3ef40a9a37","order":14,"width":3,"height":1,"passthru":false,"label":"Histórico de datos","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":1580,"wires":[["ca8c78222ac91c69","03640bbee8b38885","a8d01a019a27898c","9f0498ccf7f1328c","c514060cdd17b924","25665c3658a1e501"]]},{"id":"a68188613ce6f166","type":"ui_ui_control","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Control","events":"all","x":720,"y":1600,"wires":[[]]},{"id":"5f27975d0c433951","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Mostrado Interfaz Usuario","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Interfaz Usuario\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":340,"wires":[["912c9d089aed1e8d"]]},{"id":"2bb4d8a442dc8e46","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":100,"wires":[["912c9d089aed1e8d"]]},{"id":"eecabc84d64cd8eb","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":140,"wires":[["912c9d089aed1e8d"]]},{"id":"e49a6360a2d700f2","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[["912c9d089aed1e8d"]]},{"id":"b7feebb1da7b7e63","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento CMS","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"CMS\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":380,"wires":[["912c9d089aed1e8d"]]},{"id":"1db1b086b02990f6","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Historico Datos S1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":220,"wires":[["912c9d089aed1e8d"]]},{"id":"b114b08b0b5bcc98","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Historico Datos S2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["912c9d089aed1e8d"]]},{"id":"bd08fdd03cf9251b","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Historico Datos S3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["912c9d089aed1e8d"]]},{"id":"d3301b7f077e3599","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Interfaz usuario\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":460,"wires":[["912c9d089aed1e8d"]]},{"id":"06ddd7c92bbf4244","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1260,"wires":[["c9e93e97bf2eea78"]]},{"id":"68bb6aede2100583","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1300,"wires":[["c9e93e97bf2eea78"]]},{"id":"975d23fb5a5d5e79","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1340,"wires":[["c9e93e97bf2eea78"]]},{"id":"a8d01a019a27898c","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1540,"wires":[["a68188613ce6f166"]]},{"id":"9f0498ccf7f1328c","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1580,"wires":[["a68188613ce6f166"]]},{"id":"c514060cdd17b924","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1620,"wires":[["a68188613ce6f166"]]},{"id":"83c7a9ca17a02fe0","type":"ui_template","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","group":"916849170c96a44b","name":"Texto","order":1,"width":7,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">\n    Temperatura\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1190,"y":2420,"wires":[[]]},{"id":"bc17a5b4725986dc","type":"ui_template","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","group":"bd5b9ed42550e8ff","name":"Texto","order":1,"width":7,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">    \n    Presión\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1190,"y":2460,"wires":[[]]},{"id":"cefc0b7325fb8dae","type":"ui_template","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","group":"27c3f8cb5dfbcc0d","name":"Texto","order":1,"width":7,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">    \n    Humedad relativa\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1190,"y":2500,"wires":[[]]},{"id":"bea3ba1979edb4a5","type":"http in","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Datos Nodo Sensor 2","url":"/goto-sensor2","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":1020,"y":600,"wires":[["20328e892d28bbd8","2404db11900c49ef","31af4f0b25f68b55"]]},{"id":"20328e892d28bbd8","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Nodo Sensor 2\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":540,"wires":[["f2dbcf04d603b46b"]]},{"id":"2404db11900c49ef","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Ocultamiento CMS","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"CMS\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":600,"wires":[["f2dbcf04d603b46b"]]},{"id":"31af4f0b25f68b55","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Mostrado Nodo Sensor 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Nodo Sensor 2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":660,"wires":[["f2dbcf04d603b46b"]]},{"id":"f2dbcf04d603b46b","type":"ui_ui_control","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Control","events":"all","x":1620,"y":600,"wires":[[]]},{"id":"d1d76968313c81a9","type":"http in","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Datos Nodo Sensor 2","url":"/goto-sensor3","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":1020,"y":800,"wires":[["5e4eca81e1f79d43","1d4e7e51b1c7c423","5ddde2fe3e4b253c"]]},{"id":"5e4eca81e1f79d43","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Nodo Sensor 3\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":740,"wires":[["482041c80252e5c7"]]},{"id":"1d4e7e51b1c7c423","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Ocultamiento CMS","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"CMS\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":800,"wires":[["482041c80252e5c7"]]},{"id":"5ddde2fe3e4b253c","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Mostrado Nodo Sensor 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Nodo Sensor 3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":860,"wires":[["482041c80252e5c7"]]},{"id":"482041c80252e5c7","type":"ui_ui_control","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Control","events":"all","x":1620,"y":780,"wires":[[]]},{"id":"43e26b855e734563","type":"ui_button","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"","group":"44d1b5f823f41b9b","order":10,"width":3,"height":1,"passthru":false,"label":"Volver al CMS","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":840,"wires":[["1bc50faf10994def","f0a77e2d518c72d3","12dafc5e249af4ed","b1e71e9c69e90b4c","8d1c7fd501c5891c","f01b25d4b70947c5","be0242f14b7090c1","349f1b1da5698cd0","2d54070b31a406fe","46e70ea267b19196"]]},{"id":"092f470bb0dcf959","type":"ui_ui_control","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Control","events":"all","x":720,"y":980,"wires":[[]]},{"id":"63f107f5ae22b7d5","type":"ui_button","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"","group":"7caf0a3ef40a9a37","order":10,"width":0,"height":0,"passthru":false,"label":"Volver al CMS","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":900,"wires":[["349f1b1da5698cd0","be0242f14b7090c1","f01b25d4b70947c5","8d1c7fd501c5891c","b1e71e9c69e90b4c","12dafc5e249af4ed","f0a77e2d518c72d3","1bc50faf10994def","2d54070b31a406fe","46e70ea267b19196"]]},{"id":"a4456f18384a6a7c","type":"ui_button","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"","group":"f746603138a9eae6","order":10,"width":3,"height":1,"passthru":false,"label":"Volver al CMS","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":960,"wires":[["349f1b1da5698cd0","be0242f14b7090c1","f01b25d4b70947c5","8d1c7fd501c5891c","b1e71e9c69e90b4c","12dafc5e249af4ed","f0a77e2d518c72d3","1bc50faf10994def","2d54070b31a406fe","46e70ea267b19196"]]},{"id":"be0242f14b7090c1","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Mostrado CMS","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"CMS\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":980,"wires":[["092f470bb0dcf959"]]},{"id":"1bc50faf10994def","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":740,"wires":[["092f470bb0dcf959"]]},{"id":"f0a77e2d518c72d3","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":780,"wires":[["092f470bb0dcf959"]]},{"id":"12dafc5e249af4ed","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":820,"wires":[["092f470bb0dcf959"]]},{"id":"349f1b1da5698cd0","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Interfaz usuario","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Interfaz usuario\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1020,"wires":[["092f470bb0dcf959"]]},{"id":"b1e71e9c69e90b4c","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Historico Datos S1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":860,"wires":[["092f470bb0dcf959"]]},{"id":"8d1c7fd501c5891c","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Historico Datos S2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":900,"wires":[["092f470bb0dcf959"]]},{"id":"f01b25d4b70947c5","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Historico Datos S3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":940,"wires":[["092f470bb0dcf959"]]},{"id":"2d54070b31a406fe","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"CMS\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1060,"wires":[["092f470bb0dcf959"]]},{"id":"3ebab86d9bd525df","type":"ui_media","z":"ee95db94f847efdc","g":"cb407775ef27f324","group":"44d1b5f823f41b9b","name":"","width":1,"height":1,"order":8,"category":"Ubicación","file":"Ubicación.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":710,"y":740,"wires":[[]]},{"id":"b24c6e0df04207e5","type":"ui_media","z":"ee95db94f847efdc","g":"cb407775ef27f324","group":"7caf0a3ef40a9a37","name":"","width":1,"height":1,"order":8,"category":"Ubicación","file":"Ubicación.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":710,"y":800,"wires":[[]]},{"id":"7d91d102d90df2f6","type":"ui_media","z":"ee95db94f847efdc","g":"cb407775ef27f324","group":"f746603138a9eae6","name":"","width":1,"height":1,"order":8,"category":"Ubicación","file":"Ubicación.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":710,"y":860,"wires":[[]]},{"id":"af3ab5a5e2d16b92","type":"ui_media","z":"ee95db94f847efdc","g":"cb407775ef27f324","group":"44d1b5f823f41b9b","name":"","width":1,"height":1,"order":12,"category":"Historico datos","file":"Historico Datos.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":710,"y":1160,"wires":[[]]},{"id":"db69bc3d43d58dfa","type":"ui_media","z":"ee95db94f847efdc","g":"cb407775ef27f324","group":"7caf0a3ef40a9a37","name":"","width":1,"height":1,"order":12,"category":"Historico datos","file":"Historico Datos.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":710,"y":1220,"wires":[[]]},{"id":"a3278e78b5c2d0af","type":"ui_media","z":"ee95db94f847efdc","g":"cb407775ef27f324","group":"f746603138a9eae6","name":"","width":1,"height":1,"order":12,"category":"Historico datos","file":"Historico Datos.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":710,"y":1280,"wires":[[]]},{"id":"adb13f0cd5d83b8b","type":"ui_template","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","group":"08ce921bbf4245dd","name":"Texto","order":1,"width":7,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">\n    Temperatura\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1030,"y":3000,"wires":[[]]},{"id":"4dcf0334242ea353","type":"ui_template","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","group":"05147ca138bc75e5","name":"Texto","order":1,"width":7,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">    \n    Presión\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1030,"y":3060,"wires":[[]]},{"id":"3032144372c40dad","type":"ui_template","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","group":"fb653075e5af83b8","name":"Texto","order":1,"width":7,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">    \n    Humedad relativa\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1030,"y":3120,"wires":[[]]},{"id":"f2308fa01916a6fe","type":"function","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Frecuencia global","func":"// 1. Si llega un nuevo valor desde el formulario de la UI\nif (msg.payload && typeof msg.payload === \"object\") {\n    // Asegúrate de que \"Periodo muestreo (min)\" coincida exactamente con el Name de tu elemento en el form\n    let nuevo = msg.payload[\"Periodo muestreo (min)\"];\n\n    if (nuevo !== undefined && nuevo !== null && !isNaN(nuevo)) {\n        let periodo = Number(nuevo) * 60; // Convertimos los minutos del form a segundos\n        global.set(\"periodo_nodo_1\", periodo);   // Lo guardamos en la memoria global\n    }\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":2820,"wires":[["e95b26d125eb52a7"]]},{"id":"c159b91813ada117","type":"ui_form","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","label":"","group":"bd5b9ed42550e8ff","order":11,"width":4,"height":1,"options":[{"label":"Periodo muestreo (min)","value":"Periodo muestreo (min)","type":"number","required":true,"rows":null}],"formValue":{"Periodo muestreo (min)":""},"payload":"","submit":"Enviar","cancel":"Borrar","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":130,"y":2820,"wires":[["f2308fa01916a6fe"]]},{"id":"5fe5dd5040c6bad4","type":"inject","z":"ee95db94f847efdc","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1910,"y":120,"wires":[["620a70479cc32ae7"]]},{"id":"620a70479cc32ae7","type":"change","z":"ee95db94f847efdc","name":"Setear variable global periodo","rules":[{"t":"set","p":"periodo_nodo_1","pt":"global","to":"600","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2150,"y":120,"wires":[["7ca8c4070e73b13c"]]},{"id":"e5cb2461d93d2d70","type":"mqtt out","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","topic":"sensor1/periodo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3cb1dcf7582d16a","x":880,"y":2820,"wires":[]},{"id":"e95b26d125eb52a7","type":"function","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Fijamos el payload","func":"// 1. Extraemos el valor de la variable global 'periodo'\n// Si la variable no existe todavía, le asignamos 600 por defecto\nlet periodo = global.get(\"periodo_nodo_1\") || 600;\n\n// 2. MQTT necesita que el dato viaje como una cadena de texto (String)\nmsg.payload = String(periodo);\n\n// 3. Retornamos el mensaje para que pase al siguiente nodo (MQTT Out)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":2820,"wires":[["e5cb2461d93d2d70","db0e364a4c21189d"]]},{"id":"db0e364a4c21189d","type":"change","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"El periodo se actualizara a partir de la siguiente medida","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2740,"wires":[["d8c2d8e17aba5077","57d92470712ab67f"]]},{"id":"d8c2d8e17aba5077","type":"ui_text","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","group":"bd5b9ed42550e8ff","order":13,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Courier,monospace","fontSize":"12","color":"#000000","x":1170,"y":2780,"wires":[]},{"id":"57d92470712ab67f","type":"change","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Borrar","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2680,"wires":[["162d0323527925b2"]]},{"id":"162d0323527925b2","type":"function","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Delay","func":"setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 10000);\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":2680,"wires":[["d8c2d8e17aba5077"]]},{"id":"50d9e6c87243af13","type":"ui_switch","z":"ee95db94f847efdc","g":"2f237b2cefa98645","name":"","label":"","tooltip":"","group":"5e6cbc9e69ea40e2","order":5,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":130,"y":5000,"wires":[["04874f93ba6f6527"]]},{"id":"54d05944f46de5a2","type":"mqtt out","z":"ee95db94f847efdc","g":"2f237b2cefa98645","name":"","topic":"rele/control","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3cb1dcf7582d16a","x":910,"y":5000,"wires":[]},{"id":"0c096fb47e7f7791","type":"inject","z":"ee95db94f847efdc","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1910,"y":260,"wires":[["1d196151efd97bd5"]]},{"id":"1d196151efd97bd5","type":"change","z":"ee95db94f847efdc","name":"Setear variable global rele","rules":[{"t":"set","p":"rele","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2130,"y":260,"wires":[[]]},{"id":"04874f93ba6f6527","type":"function","z":"ee95db94f847efdc","g":"2f237b2cefa98645","name":"Actualizamos la variable global","func":"// Si llega un booleano desde la UI\nif (typeof msg.payload === \"boolean\") {\n\n    // Convertimos a 1/0\n    msg.payload = msg.payload ? 1 : 0;\n\n    // Guardar también en global como 1/0\n    global.set(\"estado_rele\", msg.payload);\n\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":5000,"wires":[["7f8ad244b3d52d83"]]},{"id":"7f8ad244b3d52d83","type":"function","z":"ee95db94f847efdc","g":"2f237b2cefa98645","name":"Fijamos el payload","func":"// 1. Extraemos el valor de la variable global 'periodo'\n// Si la variable no existe todavía, le asignamos 0 por defecto\nlet periodo = global.get(\"estado_rele\") || 0;\n\n// 2. MQTT necesita que el dato viaje como una cadena de texto (String)\nmsg.payload = String(periodo);\n\n// 3. Retornamos el mensaje para que pase al siguiente nodo (MQTT Out)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":5000,"wires":[["54d05944f46de5a2","c0add03ae223e6bf"]]},{"id":"0a11a70cf7371f7a","type":"ui_template","z":"ee95db94f847efdc","g":"2f237b2cefa98645","group":"5e6cbc9e69ea40e2","name":"Texto","order":2,"width":6,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">\n    Estado relé\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":130,"y":5140,"wires":[[]]},{"id":"42566af817d82efb","type":"inject","z":"ee95db94f847efdc","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1910,"y":340,"wires":[["f590642cab4a2dba"]]},{"id":"72596925e5c4214d","type":"change","z":"ee95db94f847efdc","g":"2f237b2cefa98645","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Rele abierto (Sin corriente / apagado)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":5080,"wires":[["7e5ca8ce5c1d7797"]]},{"id":"7e5ca8ce5c1d7797","type":"ui_text","z":"ee95db94f847efdc","g":"2f237b2cefa98645","group":"5e6cbc9e69ea40e2","order":8,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Courier,monospace","fontSize":"12","color":"#000000","x":930,"y":5120,"wires":[]},{"id":"c0add03ae223e6bf","type":"switch","z":"ee95db94f847efdc","g":"2f237b2cefa98645","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":5100,"wires":[["72596925e5c4214d"],["137dce0739369951"]]},{"id":"137dce0739369951","type":"change","z":"ee95db94f847efdc","g":"2f237b2cefa98645","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Rele cerrado (Con corriente / encendido)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":5140,"wires":[["7e5ca8ce5c1d7797"]]},{"id":"a84fbe344e6fa1d5","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo actuador 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo actuador 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":420,"wires":[["912c9d089aed1e8d"]]},{"id":"46e70ea267b19196","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo actuador 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo actuador 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1100,"wires":[["092f470bb0dcf959"]]},{"id":"1c6059a8f7ca25e5","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo actuador 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo actuador 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1220,"wires":[[]]},{"id":"25665c3658a1e501","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo actuador 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo actuador 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1500,"wires":[["a68188613ce6f166"]]},{"id":"86796e471575f41c","type":"function","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Actuador ReleSKA20421","func":"msg.payload = {\n    name: \"Rele\",\n    lat: 43.524113, \n    lon: - 5.633928,\n    icon: \"plug\",\n    color: \"red\",\n     popup: `\n      Estado: OK<br><br>\n      <a href=\"/goto-Rele\">\n      Interactuar con el Rele\n      </a>\n    `\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":260,"wires":[["4aca2bd9a8677fe3"]]},{"id":"d6284ecfc15cda75","type":"http in","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Interactuar Rele","url":"/goto-Rele","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":1000,"y":1020,"wires":[["21183733eb372495","16db05e3ca3ffac0","78d8a60215dd3e6e"]]},{"id":"21183733eb372495","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Nodo Actuador 1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":940,"wires":[["f00960a49e410c5d"]]},{"id":"16db05e3ca3ffac0","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Ocultamiento CMS","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"CMS\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1000,"wires":[["f00960a49e410c5d"]]},{"id":"78d8a60215dd3e6e","type":"change","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Mostrado Nodo Actuador 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Nodo Actuador 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1060,"wires":[["f00960a49e410c5d"]]},{"id":"f00960a49e410c5d","type":"ui_ui_control","z":"ee95db94f847efdc","g":"a7f270d30f3468cc","name":"Control","events":"all","x":1580,"y":1020,"wires":[[]]},{"id":"5b5f61166a2bddc6","type":"mqtt in","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","topic":"sensor2/bateria","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":3720,"wires":[["db25223135d55181"]]},{"id":"72869d55fbea2dac","type":"inject","z":"ee95db94f847efdc","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1910,"y":60,"wires":[["38e73115e1f80bbc"]]},{"id":"38e73115e1f80bbc","type":"change","z":"ee95db94f847efdc","name":"Setear variable global periodo","rules":[{"t":"set","p":"periodo_nodo_2","pt":"global","to":"600","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2150,"y":60,"wires":[["bd31354981fde7aa"]]},{"id":"007e471e03e263b3","type":"function","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Frecuencia global","func":"// 1. Si llega un nuevo valor desde el formulario de la UI\nif (msg.payload && typeof msg.payload === \"object\") {\n    // Asegúrate de que \"Periodo muestreo (min)\" coincida exactamente con el Name de tu elemento en el form\n    let nuevo = msg.payload[\"Periodo muestreo (min)\"];\n\n    if (nuevo !== undefined && nuevo !== null && !isNaN(nuevo)) {\n        let periodo_2 = Number(nuevo) * 60; // Convertimos los minutos del form a segundos\n        global.set(\"periodo_nodo_2\", periodo_2);   // Lo guardamos en la memoria global\n    }\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":3820,"wires":[["5b2ecf95e8d898ef"]]},{"id":"b378bf6241fe6266","type":"ui_form","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","label":"","group":"05147ca138bc75e5","order":11,"width":4,"height":1,"options":[{"label":"Periodo muestreo (min)","value":"Periodo muestreo (min)","type":"number","required":true,"rows":null}],"formValue":{"Periodo muestreo (min)":""},"payload":"","submit":"Enviar","cancel":"Borrar","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":3820,"wires":[["007e471e03e263b3"]]},{"id":"33375085e1d68441","type":"mqtt out","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","topic":"sensor2/periodo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3cb1dcf7582d16a","x":880,"y":3820,"wires":[]},{"id":"5b2ecf95e8d898ef","type":"function","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Fijamos el payload","func":"// 1. Extraemos el valor de la variable global 'periodo'\n// Si la variable no existe todavía, le asignamos 600 por defecto\nlet periodo = global.get(\"periodo_nodo_2\") || 600;\n\n// 2. MQTT necesita que el dato viaje como una cadena de texto (String)\nmsg.payload = String(periodo);\n\n// 3. Retornamos el mensaje para que pase al siguiente nodo (MQTT Out)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":3820,"wires":[["33375085e1d68441","02a3fdc7b24855eb"]]},{"id":"02a3fdc7b24855eb","type":"change","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"El periodo se actualizara a partir de la siguiente medida","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":3760,"wires":[["2d90c7d55b7e80e0","e69fa00e5c7d594c"]]},{"id":"2d90c7d55b7e80e0","type":"ui_text","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","group":"05147ca138bc75e5","order":13,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Courier,monospace","fontSize":"12","color":"#000000","x":1170,"y":3800,"wires":[]},{"id":"e69fa00e5c7d594c","type":"change","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Borrar","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":3680,"wires":[["76cba62a8fcd1c5a"]]},{"id":"76cba62a8fcd1c5a","type":"function","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Delay","func":"setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 10000);\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":3720,"wires":[["2d90c7d55b7e80e0"]]},{"id":"db25223135d55181","type":"ui_gauge","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","group":"7caf0a3ef40a9a37","order":2,"width":3,"height":3,"gtype":"gage","title":"<b>Bateria del nodo</b>","label":"V","format":"{{value}}","min":"3.5","max":"6.5","colors":["#f00000","#e7ea53","#00f531"],"seg1":"4","seg2":"4,3","diff":false,"className":"","x":510,"y":3720,"wires":[]},{"id":"e91f4923dcab6d33","type":"ui_template","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","group":"7caf0a3ef40a9a37","name":"Texto","order":1,"width":3,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">    \n    Menú\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1170,"y":3000,"wires":[[]]},{"id":"1a7c7d99b66bc31f","type":"inject","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2880,"wires":[["5d96fb6f50f06adb"]]},{"id":"5d96fb6f50f06adb","type":"change","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"periodo_nodo_1","tot":"global","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":2880,"wires":[["1ab038983f80ae02"]]},{"id":"f4959e94bbd77801","type":"ui_text","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","group":"bd5b9ed42550e8ff","order":12,"width":3,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"","fontSize":16,"color":"#000000","x":810,"y":2880,"wires":[]},{"id":"ffb2a9406140cc48","type":"ui_template","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","group":"bd5b9ed42550e8ff","name":"Texto","order":10,"width":3,"height":1,"format":"<div style=\"\n    font-size:16px;\n    font-weight:bold;\n    color:#4FC3F7;\n    text-align:center;\n    display:flex;\n    align-items:flex-end;\n    justify-content:center;\n    height:100%;\n\">\n    Periodo actual (min)\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1170,"y":2880,"wires":[[]]},{"id":"e0aaf79e120e0e33","type":"inject","z":"ee95db94f847efdc","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1910,"y":180,"wires":[["141c8f66f26f7593"]]},{"id":"141c8f66f26f7593","type":"change","z":"ee95db94f847efdc","name":"Setear variable global periodo","rules":[{"t":"set","p":"periodo_nodo_3","pt":"global","to":"600","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2150,"y":180,"wires":[["4cc577118e180292"]]},{"id":"8f008bd77b67dc42","type":"inject","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":3880,"wires":[["42d58f846280e2bf"]]},{"id":"42d58f846280e2bf","type":"change","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"periodo_nodo_2","tot":"global","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":3880,"wires":[["b0cb634293820c68"]]},{"id":"c0b73547a9692c5a","type":"ui_text","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","group":"05147ca138bc75e5","order":12,"width":3,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"","fontSize":16,"color":"#000000","x":830,"y":3880,"wires":[]},{"id":"d0d628ea0f1f1707","type":"ui_template","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","group":"05147ca138bc75e5","name":"Texto","order":10,"width":3,"height":1,"format":"<div style=\"\n    font-size:16px;\n    font-weight:bold;\n    color:#4FC3F7;\n    text-align:center;\n    display:flex;\n    align-items:flex-end;\n    justify-content:center;\n    height:100%;\n\">\n    Periodo actual (min)\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1170,"y":3880,"wires":[[]]},{"id":"ddf4c68a17148748","type":"mqtt in","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","topic":"sensor1/bateria","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":2740,"wires":[["bb806210a0dcfaec"]]},{"id":"bb806210a0dcfaec","type":"ui_gauge","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"","group":"44d1b5f823f41b9b","order":2,"width":3,"height":3,"gtype":"gage","title":"<b>Batería del nodo</b>","label":"V","format":"{{value}}","min":"3.5","max":"6.5","colors":["#f00000","#e7ea53","#00f531"],"seg1":"4","seg2":"4,3","diff":false,"className":"","x":490,"y":2740,"wires":[]},{"id":"b0cb634293820c68","type":"function","z":"ee95db94f847efdc","g":"fe4636a52003d2d4","name":"Pasa a minutos","func":"msg.payload = msg.payload / 60;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":3880,"wires":[["c0b73547a9692c5a"]]},{"id":"1ab038983f80ae02","type":"function","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","name":"Pasa a minutos","func":"msg.payload = msg.payload / 60;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":2880,"wires":[["f4959e94bbd77801"]]},{"id":"d791ccec7bcba2be","type":"ui_template","z":"ee95db94f847efdc","g":"d37b1cdeb9e20705","group":"44d1b5f823f41b9b","name":"Texto","order":1,"width":3,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">    \n    Menú\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1190,"y":2540,"wires":[[]]},{"id":"4ff12304836c7a43","type":"mqtt in","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","topic":"sensor3/temperatura","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":4080,"wires":[["eeade01874ae28a8","efae7ce5323b2f05","6522fcec53524cfd"]]},{"id":"32dff5a1671120ea","type":"mqtt in","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","topic":"sensor3/presion","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":4300,"wires":[["13304eb45049e1d9","23878a452291f18f","178c80e9c58ac33e"]]},{"id":"b3eab78a1b78e3bc","type":"mqtt in","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","topic":"sensor3/humedad_rel","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":4560,"wires":[["90fcf2b8ef866ec0","598dc787c79e65ca","eebe4353642e5a49"]]},{"id":"a9962d5892c254a8","type":"function","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Inserta temperatura","func":"let fechaHoraLocal = new Date().toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" });\n\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES ($Fechahoraact, 7, $Valor)\";\n\nmsg.payload = [fechaHoraLocal, msg.payload.Valortemp];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":3980,"wires":[["469395db27a7d707"]]},{"id":"eeade01874ae28a8","type":"function","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Convertir a objeto","func":"// Convertir el valor en objeto limpio \nmsg.payload = { Valortemp: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":3980,"wires":[["a9962d5892c254a8"]]},{"id":"13304eb45049e1d9","type":"function","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Convertir a objeto","func":"// Convertir el valor en objeto limpio \nmsg.payload = { Valorpress: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":4200,"wires":[["67080c0b89a4aebf"]]},{"id":"90fcf2b8ef866ec0","type":"function","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Convertir a objeto","func":"// Convertir el valor en objeto limpio \nmsg.payload = { Valorhumrel: msg.payload }; \n\n// Eliminar el topic del MQTT \ndelete msg.topic;\n \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":4460,"wires":[["22df7582d10fe7d4"]]},{"id":"67080c0b89a4aebf","type":"function","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Inserta presion","func":"let fechaHoraLocal = new Date().toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" });\n\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES ($Fechahoraact, 8, $Valor)\";\n\nmsg.payload = [fechaHoraLocal,msg.payload.Valorpress];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":4200,"wires":[["469395db27a7d707"]]},{"id":"22df7582d10fe7d4","type":"function","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Inserta humedad relativa","func":"let fechaHoraLocal = new Date().toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" });\n\nmsg.topic = \"INSERT INTO Datos ('FechaHora', 'SensorVariableId', 'Valor') VALUES ($Fechahoraact, 9, $Valor)\";\n\nmsg.payload = [fechaHoraLocal, msg.payload.Valorhumrel];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":4460,"wires":[["dbf0bd0fc3ac0b1b","469395db27a7d707"]]},{"id":"dbf0bd0fc3ac0b1b","type":"change","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Medidas insertadas S3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":4540,"wires":[["2496062b66fc9f7a"]]},{"id":"2496062b66fc9f7a","type":"debug","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Comprobacion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":4540,"wires":[]},{"id":"598dc787c79e65ca","type":"ui_gauge","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","group":"313dfd5f6cee5a51","order":3,"width":3,"height":3,"gtype":"gage","title":"<b>Humedad</b>","label":"%","format":"{{value}}","min":"40","max":"80","colors":["#00a8f0","#d9e59e","#f50000"],"seg1":"","seg2":"","diff":false,"className":"","x":490,"y":4560,"wires":[]},{"id":"178c80e9c58ac33e","type":"ui_gauge","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","group":"8097bc13feca37fb","order":3,"width":3,"height":3,"gtype":"gage","title":"<b>Presión</b>","label":"Hpa","format":"{{value}}","min":"900","max":"1200","colors":["#00a8f0","#d9e59e","#f50000"],"seg1":"","seg2":"","diff":false,"className":"","x":480,"y":4280,"wires":[]},{"id":"6522fcec53524cfd","type":"ui_gauge","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","group":"e11d10f97cb5552b","order":3,"width":3,"height":3,"gtype":"gage","title":"<b>Temperatura</b>","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#00a8f0","#d9e59e","#f50000"],"seg1":"","seg2":"","diff":false,"className":"","x":480,"y":4040,"wires":[]},{"id":"23878a452291f18f","type":"ui_chart","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","group":"8097bc13feca37fb","order":9,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":450,"y":4340,"wires":[[]]},{"id":"efae7ce5323b2f05","type":"ui_chart","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","group":"e11d10f97cb5552b","order":9,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":430,"y":4100,"wires":[[]]},{"id":"469395db27a7d707","type":"sqlite","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Insert medidas","x":940,"y":4200,"wires":[[]]},{"id":"eebe4353642e5a49","type":"ui_chart","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","group":"313dfd5f6cee5a51","order":9,"width":7,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":450,"y":4620,"wires":[[]]},{"id":"9bc51f7493822a95","type":"ui_template","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","group":"e11d10f97cb5552b","name":"Texto","order":1,"width":7,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">\n    Temperatura\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1030,"y":4000,"wires":[[]]},{"id":"174d67cea8aeec76","type":"ui_template","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","group":"8097bc13feca37fb","name":"Texto","order":1,"width":7,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">    \n    Presión\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1030,"y":4060,"wires":[[]]},{"id":"257243c4162d0750","type":"ui_template","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","group":"313dfd5f6cee5a51","name":"Texto","order":1,"width":7,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">    \n    Humedad relativa\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1030,"y":4120,"wires":[[]]},{"id":"fa5ee811993f6d14","type":"mqtt in","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","topic":"sensor3/bateria","qos":"2","datatype":"auto-detect","broker":"e3cb1dcf7582d16a","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":4720,"wires":[["05cba2930ac47086"]]},{"id":"10f6e723f23f229e","type":"function","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Frecuencia global","func":"// 1. Si llega un nuevo valor desde el formulario de la UI\nif (msg.payload && typeof msg.payload === \"object\") {\n    // Asegúrate de que \"Periodo muestreo (min)\" coincida exactamente con el Name de tu elemento en el form\n    let nuevo = msg.payload[\"Periodo muestreo (min)\"];\n\n    if (nuevo !== undefined && nuevo !== null && !isNaN(nuevo)) {\n        let periodo_3 = Number(nuevo) * 60; // Convertimos los minutos del form a segundos\n        global.set(\"periodo_nodo_3\", periodo_3);   // Lo guardamos en la memoria global\n    }\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":4820,"wires":[["506dd1aa32222630"]]},{"id":"2c429d7e1561cf07","type":"ui_form","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","label":"","group":"8097bc13feca37fb","order":11,"width":4,"height":1,"options":[{"label":"Periodo muestreo (min)","value":"Periodo muestreo (min)","type":"number","required":true,"rows":null}],"formValue":{"Periodo muestreo (min)":""},"payload":"","submit":"Enviar","cancel":"Borrar","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":4820,"wires":[["10f6e723f23f229e"]]},{"id":"9550f1aed7db262d","type":"mqtt out","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","topic":"sensor3/periodo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3cb1dcf7582d16a","x":880,"y":4820,"wires":[]},{"id":"506dd1aa32222630","type":"function","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Fijamos el payload","func":"// 1. Extraemos el valor de la variable global 'periodo'\n// Si la variable no existe todavía, le asignamos 600 por defecto\nlet periodo = global.get(\"periodo_nodo_3\") || 600;\n\n// 2. MQTT necesita que el dato viaje como una cadena de texto (String)\nmsg.payload = String(periodo);\n\n// 3. Retornamos el mensaje para que pase al siguiente nodo (MQTT Out)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":4820,"wires":[["9550f1aed7db262d","6e70a32362a8c2af"]]},{"id":"6e70a32362a8c2af","type":"change","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"El periodo se actualizara a partir de la siguiente medida","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":4760,"wires":[["a617a4780a46b9e7","c90351d0914dec15"]]},{"id":"a617a4780a46b9e7","type":"ui_text","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","group":"8097bc13feca37fb","order":13,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Courier,monospace","fontSize":"12","color":"#000000","x":1170,"y":4800,"wires":[]},{"id":"c90351d0914dec15","type":"change","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Borrar","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":4680,"wires":[["1681d3e0e94c5a76"]]},{"id":"1681d3e0e94c5a76","type":"function","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Delay","func":"setTimeout(() => {\n    node.send(msg);   // pasa el mensaje completo (payload incluido)\n}, 10000);\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":4720,"wires":[["a617a4780a46b9e7"]]},{"id":"05cba2930ac47086","type":"ui_gauge","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","group":"f746603138a9eae6","order":2,"width":3,"height":3,"gtype":"gage","title":"<b>Bateria del nodo</b>","label":"V","format":"{{value}}","min":"3.5","max":"6.5","colors":["#f00000","#e7ea53","#00f531"],"seg1":"4","seg2":"4,3","diff":false,"className":"","x":510,"y":4720,"wires":[]},{"id":"3fa552645f333298","type":"ui_template","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","group":"f746603138a9eae6","name":"Texto","order":1,"width":3,"height":1,"format":"<div style=\"font-size:24px; font-weight:bold; color:#4FC3F7; text-align:center;\">    \n    Menú\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1170,"y":4000,"wires":[[]]},{"id":"08586348c6841a93","type":"inject","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":4880,"wires":[["36d0b10562fbf7d0"]]},{"id":"36d0b10562fbf7d0","type":"change","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"periodo_nodo_3","tot":"global","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":4880,"wires":[["a96aeef2af949749"]]},{"id":"7c3e893bc47468c9","type":"ui_text","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","group":"8097bc13feca37fb","order":12,"width":3,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"","fontSize":16,"color":"#000000","x":830,"y":4880,"wires":[]},{"id":"616021a8373d590b","type":"ui_template","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","group":"8097bc13feca37fb","name":"Texto","order":10,"width":3,"height":1,"format":"<div style=\"\n    font-size:16px;\n    font-weight:bold;\n    color:#4FC3F7;\n    text-align:center;\n    display:flex;\n    align-items:flex-end;\n    justify-content:center;\n    height:100%;\n\">\n    Periodo actual (min)\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1170,"y":4880,"wires":[[]]},{"id":"a96aeef2af949749","type":"function","z":"ee95db94f847efdc","g":"c8e7f4b28ccfe73c","name":"Pasa a minutos","func":"msg.payload = msg.payload / 60;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":4880,"wires":[["7c3e893bc47468c9"]]},{"id":"cabb97869fff74bd","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\" : \"Historico Datos S3\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1960,"wires":[["aa0a53792cba1438"]]},{"id":"af45e91273e05a4b","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Mostrado Historico Datos S3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Historico Datos S3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1760,"wires":[["aa0a53792cba1438"]]},{"id":"b388ced95af3f2ab","type":"ui_button","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"","group":"f746603138a9eae6","order":14,"width":3,"height":1,"passthru":false,"label":"Histórico  de datos","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":1900,"wires":[["cabb97869fff74bd","af45e91273e05a4b","57cb727e6d2b9d7f","1e7af1ab3d1276a0","799795b367db8119","04ae017b57f520c2"]]},{"id":"aa0a53792cba1438","type":"ui_ui_control","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Control","events":"all","x":740,"y":1900,"wires":[[]]},{"id":"57cb727e6d2b9d7f","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1840,"wires":[["aa0a53792cba1438"]]},{"id":"1e7af1ab3d1276a0","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1880,"wires":[["aa0a53792cba1438"]]},{"id":"799795b367db8119","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo Sensor 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo Sensor 3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1920,"wires":[["aa0a53792cba1438"]]},{"id":"04ae017b57f520c2","type":"change","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"Ocultamiento Nodo actuador 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Nodo actuador 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1800,"wires":[["aa0a53792cba1438"]]},{"id":"bd31354981fde7aa","type":"mqtt out","z":"ee95db94f847efdc","name":"","topic":"sensor1/periodo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3cb1dcf7582d16a","x":2440,"y":60,"wires":[]},{"id":"7ca8c4070e73b13c","type":"mqtt out","z":"ee95db94f847efdc","name":"","topic":"sensor2/periodo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3cb1dcf7582d16a","x":2440,"y":120,"wires":[]},{"id":"4cc577118e180292","type":"mqtt out","z":"ee95db94f847efdc","name":"","topic":"sensor3/periodo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3cb1dcf7582d16a","x":2440,"y":180,"wires":[]},{"id":"cdfb894e36b83f8c","type":"ui_button","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"","group":"d0db150d65d5cd52","order":8,"width":3,"height":1,"passthru":false,"label":"Volver al CMS","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":1020,"wires":[["46e70ea267b19196","2d54070b31a406fe","349f1b1da5698cd0","be0242f14b7090c1","f01b25d4b70947c5","8d1c7fd501c5891c","b1e71e9c69e90b4c","12dafc5e249af4ed","f0a77e2d518c72d3","1bc50faf10994def"]]},{"id":"bfe2efd173c07b20","type":"ui_media","z":"ee95db94f847efdc","g":"cb407775ef27f324","group":"d0db150d65d5cd52","name":"","width":1,"height":1,"order":6,"category":"Ubicación","file":"Ubicación.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":710,"y":920,"wires":[[]]},{"id":"28a85377ca53cda3","type":"ui_button","z":"ee95db94f847efdc","g":"cb407775ef27f324","name":"","group":"d0db150d65d5cd52","order":4,"width":3,"height":1,"passthru":false,"label":"Cerrar Sesion","tooltip":"","color":"Black","bgcolor":"Red","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":380,"wires":[["d3301b7f077e3599","a84fbe344e6fa1d5","b7feebb1da7b7e63","5f27975d0c433951","bd08fdd03cf9251b","b114b08b0b5bcc98","1db1b086b02990f6","e49a6360a2d700f2","eecabc84d64cd8eb","2bb4d8a442dc8e46"]]},{"id":"030424b541ab3326","type":"ui_media","z":"ee95db94f847efdc","g":"cb407775ef27f324","group":"d0db150d65d5cd52","name":"","width":1,"height":1,"order":2,"category":"Cerrar usuario","file":"Icono usuario.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":710,"y":280,"wires":[[]]},{"id":"63b06bcc6d52a947","type":"ui_media","z":"ee95db94f847efdc","g":"2f237b2cefa98645","group":"5e6cbc9e69ea40e2","name":"","width":14,"height":5,"order":11,"category":"Rele_esquema","file":"Rele_esquema.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":930,"y":5200,"wires":[[]]},{"id":"f590642cab4a2dba","type":"exec","z":"ee95db94f847efdc","command":"node /data/coap_server_2.js","addpay":"","append":"","useSpawn":"false","timer":"","winHide":true,"oldrc":false,"name":"Servidor Coap","x":2100,"y":340,"wires":[[],[],[]]},{"id":"09e948d151042188","type":"function","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"Consulta ultimos 5 DIAS TEMP S1","func":"msg.topic = \"SELECT Valor, FechaHora FROM Datos WHERE SensorVariableId = 1 AND FechaHora >= datetime('now', '-5 days') ORDER BY FechaHora DESC\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":980,"wires":[["f9565af54131361a"]]},{"id":"f6e52a0aa594a54c","type":"function","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"Consulta ultimos 5 DIAS PRESS S1","func":"msg.topic = \"SELECT Valor, FechaHora FROM Datos WHERE SensorVariableId = 2 AND FechaHora >= datetime('now', '-5 days') ORDER BY FechaHora DESC\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1100,"wires":[["58f868e8d7655580"]]},{"id":"7276b4e7fdbc9daa","type":"function","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"Consulta ultimos 5 DIAS HUM_REL S1","func":"msg.topic = \"SELECT Valor, FechaHora FROM Datos WHERE SensorVariableId = 3 AND FechaHora >= datetime('now', '-5 days') ORDER BY FechaHora DESC\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1200,"wires":[["83b6867276478382"]]},{"id":"fa473717c204db96","type":"function","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"Giramos los datos","func":"msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1200,"wires":[["85ed6abe90106b32"]]},{"id":"4622330f9e18bf0f","type":"function","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"Giramos los datos","func":"msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1100,"wires":[["17c7be9d37ff61e8"]]},{"id":"d052dfc2f3b43bda","type":"function","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"Ajuste de datos","func":"const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.FechaHora,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":980,"wires":[["750102694c9aa969"]]},{"id":"8558a6769b2d7de8","type":"function","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"Giramos los datos","func":"msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":980,"wires":[["d052dfc2f3b43bda"]]},{"id":"cdcc7e2cf25232f2","type":"function","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"Giramos los datos","func":"msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1600,"wires":[["be2984880f035179"]]},{"id":"b336b658c03a36d6","type":"function","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"Giramos los datos","func":"msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1500,"wires":[["8af2c80308609cef"]]},{"id":"8e4a7bcaaec2395f","type":"function","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"Giramos los datos","func":"msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1980,"wires":[["ce0f73b5a61ff4f3"]]},{"id":"7022f2c38c936997","type":"function","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"Giramos los datos","func":"msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1880,"wires":[["12d0d779e5c95fb4"]]},{"id":"707064d1e3725636","type":"function","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"Giramos los datos","func":"msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1760,"wires":[["c9fb8e3d3e551d24"]]},{"id":"bf560bf53e8723ae","type":"ui_button","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"","group":"841db9d0419cb2b5","order":1,"width":4,"height":1,"passthru":false,"label":"Mostrar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":980,"wires":[["09e948d151042188"]]},{"id":"6196e6c12830cb04","type":"ui_button","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"","group":"49c740c1ec2d1e8f","order":1,"width":4,"height":1,"passthru":false,"label":"Mostrar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":1100,"wires":[["f6e52a0aa594a54c"]]},{"id":"68375416a8596d7a","type":"ui_button","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"","group":"443c3e562bc8accb","order":1,"width":4,"height":1,"passthru":false,"label":"Mostrar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":1200,"wires":[["7276b4e7fdbc9daa"]]},{"id":"693c47b5106094a9","type":"ui_button","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"","group":"841db9d0419cb2b5","order":3,"width":4,"height":1,"passthru":false,"label":"Borrar","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":1130,"y":940,"wires":[["750102694c9aa969"]]},{"id":"c077e7d4301de2ab","type":"ui_button","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"","group":"49c740c1ec2d1e8f","order":3,"width":4,"height":1,"passthru":false,"label":"Borrar","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":1130,"y":1060,"wires":[["cd87827377202915"]]},{"id":"5dd7649b0867cdcd","type":"ui_button","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"","group":"443c3e562bc8accb","order":3,"width":4,"height":1,"passthru":false,"label":"Borrar","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":1130,"y":1160,"wires":[["8df5e22450a0ab33"]]},{"id":"985506def1ae820e","type":"ui_button","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"","group":"65bcc1cefd5f34e7","order":1,"width":4,"height":1,"passthru":false,"label":"Mostrar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":1380,"wires":[["44f0433bc81aadcf"]]},{"id":"9563ddb8fbbe06a7","type":"ui_button","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"","group":"970f577aafc9982d","order":1,"width":4,"height":1,"passthru":false,"label":"Mostrar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":1500,"wires":[["99b98a1572c91157"]]},{"id":"2da63394424ec782","type":"ui_button","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"","group":"a0582061d3bdb9c1","order":1,"width":4,"height":1,"passthru":false,"label":"Mostrar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":1600,"wires":[["dc338285e1d859ba"]]},{"id":"5dce417d53ab9751","type":"ui_button","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"","group":"65bcc1cefd5f34e7","order":3,"width":4,"height":1,"passthru":false,"label":"Borrar","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":1130,"y":1340,"wires":[["498421f0febe51b8"]]},{"id":"9a43ca14f04b8844","type":"ui_button","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"","group":"970f577aafc9982d","order":3,"width":4,"height":1,"passthru":false,"label":"Borrar","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":1130,"y":1460,"wires":[["ae95b04dcbca9b5f"]]},{"id":"759c993ba27355b1","type":"ui_button","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"","group":"a0582061d3bdb9c1","order":3,"width":4,"height":1,"passthru":false,"label":"Borrar","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":1130,"y":1560,"wires":[["19eef4dabc979844"]]},{"id":"c03ade91cfd99d7e","type":"ui_button","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"","group":"d39a0f0638c1ed4e","order":1,"width":4,"height":1,"passthru":false,"label":"Mostrar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":1760,"wires":[["d4a3a6bc9cd9f6e3"]]},{"id":"31a6a5e8ded8f714","type":"ui_button","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"","group":"23a213c993fc8f03","order":1,"width":4,"height":1,"passthru":false,"label":"Mostrar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":1880,"wires":[["9b8e14b3b36f4e03"]]},{"id":"b60a3a9ae15e8780","type":"ui_button","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"","group":"62932790a4aa5a2d","order":1,"width":4,"height":1,"passthru":false,"label":"Mostrar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":1980,"wires":[["504de3edb21720fa"]]},{"id":"67a75af30a604826","type":"ui_button","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"","group":"d39a0f0638c1ed4e","order":3,"width":4,"height":1,"passthru":false,"label":"Borrar","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":1130,"y":1720,"wires":[["92ab09f11ad6dad2"]]},{"id":"4a2277203e8e91e1","type":"ui_button","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"","group":"23a213c993fc8f03","order":3,"width":4,"height":1,"passthru":false,"label":"Borrar","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":1130,"y":1840,"wires":[["3b97d8a36754ed18"]]},{"id":"f01bb280c8a725a3","type":"ui_button","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"","group":"62932790a4aa5a2d","order":3,"width":4,"height":1,"passthru":false,"label":"Borrar","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":1130,"y":1940,"wires":[["7c01103e82c5d983"]]},{"id":"33dedab5864966cb","type":"ui_button","z":"b1b5331ef057c744","g":"1c25e9c1b8755408","name":"","group":"49c740c1ec2d1e8f","order":8,"width":5,"height":1,"passthru":false,"label":"Volver","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":200,"wires":[["7c228220d867b429","4ea98dcd7ddfb4fa","58a4fa1b547243e0"]]},{"id":"cd87827377202915","type":"ui_chart","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"","group":"49c740c1ec2d1e8f","order":5,"width":9,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1290,"y":1100,"wires":[[]]},{"id":"750102694c9aa969","type":"ui_chart","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"","group":"841db9d0419cb2b5","order":5,"width":9,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1290,"y":980,"wires":[[]]},{"id":"19eef4dabc979844","type":"ui_chart","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"","group":"a0582061d3bdb9c1","order":5,"width":9,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":1600,"wires":[[]]},{"id":"ae95b04dcbca9b5f","type":"ui_chart","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"","group":"970f577aafc9982d","order":5,"width":9,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":1500,"wires":[[]]},{"id":"498421f0febe51b8","type":"ui_chart","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"","group":"65bcc1cefd5f34e7","order":5,"width":9,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":1380,"wires":[[]]},{"id":"7c01103e82c5d983","type":"ui_chart","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"","group":"62932790a4aa5a2d","order":5,"width":9,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":1980,"wires":[[]]},{"id":"3b97d8a36754ed18","type":"ui_chart","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"","group":"23a213c993fc8f03","order":5,"width":9,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":1880,"wires":[[]]},{"id":"92ab09f11ad6dad2","type":"ui_chart","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"","group":"d39a0f0638c1ed4e","order":5,"width":9,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":1760,"wires":[[]]},{"id":"4c6bd5cc4b5203f7","type":"ui_ui_control","z":"b1b5331ef057c744","g":"1c25e9c1b8755408","name":"Control","events":"all","x":680,"y":200,"wires":[[]]},{"id":"f9565af54131361a","type":"sqlite","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Obtencion","x":650,"y":980,"wires":[["8558a6769b2d7de8"]]},{"id":"58f868e8d7655580","type":"sqlite","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Obtencion","x":650,"y":1100,"wires":[["4622330f9e18bf0f"]]},{"id":"83b6867276478382","type":"sqlite","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Obtencion","x":650,"y":1200,"wires":[["fa473717c204db96"]]},{"id":"841adf0c3a19aa38","type":"sqlite","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Obtencion","x":630,"y":1500,"wires":[["b336b658c03a36d6"]]},{"id":"207e4914cc1b2e19","type":"sqlite","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Obtencion","x":630,"y":1600,"wires":[["cdcc7e2cf25232f2"]]},{"id":"a680fddb58d4ede9","type":"sqlite","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Obtencion","x":630,"y":1760,"wires":[["707064d1e3725636"]]},{"id":"2d8d5bf61c559a02","type":"sqlite","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Obtencion","x":630,"y":1880,"wires":[["7022f2c38c936997"]]},{"id":"44840ebe568d0a20","type":"sqlite","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Obtencion","x":630,"y":1980,"wires":[["8e4a7bcaaec2395f"]]},{"id":"58a4fa1b547243e0","type":"change","z":"b1b5331ef057c744","g":"1c25e9c1b8755408","name":"Mostrado Nodo Sensor 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Nodo Sensor 1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":160,"wires":[["4c6bd5cc4b5203f7"]]},{"id":"4ea98dcd7ddfb4fa","type":"change","z":"b1b5331ef057c744","g":"1c25e9c1b8755408","name":"Ocultamiento Historico Datos S1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":200,"wires":[["4c6bd5cc4b5203f7"]]},{"id":"7c228220d867b429","type":"change","z":"b1b5331ef057c744","g":"1c25e9c1b8755408","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Nodo Sensor 1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":240,"wires":[["4c6bd5cc4b5203f7"]]},{"id":"8345f03056861b9c","type":"ui_button","z":"b1b5331ef057c744","name":"","group":"970f577aafc9982d","order":8,"width":5,"height":1,"passthru":false,"label":"Volver","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":380,"wires":[["b90107302bb099e0","d6ebe6ead4c6fcb7","ddda10518f9d6266"]]},{"id":"e3ac3cba9bde1d59","type":"ui_ui_control","z":"b1b5331ef057c744","name":"Control","events":"all","x":680,"y":380,"wires":[[]]},{"id":"ddda10518f9d6266","type":"change","z":"b1b5331ef057c744","name":"Mostrado Nodo Sensor 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Nodo Sensor 2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":340,"wires":[["e3ac3cba9bde1d59"]]},{"id":"d6ebe6ead4c6fcb7","type":"change","z":"b1b5331ef057c744","name":"Ocultamiento Historico Datos S2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":380,"wires":[["e3ac3cba9bde1d59"]]},{"id":"b90107302bb099e0","type":"change","z":"b1b5331ef057c744","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Nodo Sensor 2\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":420,"wires":[["e3ac3cba9bde1d59"]]},{"id":"151751475e2f5ecc","type":"ui_button","z":"b1b5331ef057c744","g":"1c25e9c1b8755408","name":"","group":"23a213c993fc8f03","order":8,"width":5,"height":1,"passthru":false,"label":"Volver","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":540,"wires":[["e902dd4b7ef4e38c","b3be9468a8bec07d","ab558a2fb1ee22fb"]]},{"id":"69a9efa481e1cc66","type":"ui_ui_control","z":"b1b5331ef057c744","g":"1c25e9c1b8755408","name":"Control","events":"all","x":680,"y":540,"wires":[[]]},{"id":"ab558a2fb1ee22fb","type":"change","z":"b1b5331ef057c744","g":"1c25e9c1b8755408","name":"Mostrado Nodo Sensor 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Nodo Sensor 3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":500,"wires":[["69a9efa481e1cc66"]]},{"id":"b3be9468a8bec07d","type":"change","z":"b1b5331ef057c744","g":"1c25e9c1b8755408","name":"Ocultamiento Historico Datos S3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Historico Datos S3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":540,"wires":[["69a9efa481e1cc66"]]},{"id":"e902dd4b7ef4e38c","type":"change","z":"b1b5331ef057c744","g":"1c25e9c1b8755408","name":"Cambio de pantalla","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Nodo Sensor 3\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":580,"wires":[["69a9efa481e1cc66"]]},{"id":"cecad77b75cfca9f","type":"function","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"Giramos los datos","func":"msg.payload = msg.payload\n    .reverse()                   // del más antiguo al más nuevo\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1380,"wires":[["38940631ed0faccc"]]},{"id":"23882aeb420e9254","type":"sqlite","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","mydb":"a8ba6d3874678d65","sqlquery":"msg.topic","sql":"","name":"Obtencion","x":650,"y":1380,"wires":[["cecad77b75cfca9f"]]},{"id":"17c7be9d37ff61e8","type":"function","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"Ajuste de datos","func":"const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.FechaHora,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1100,"wires":[["cd87827377202915"]]},{"id":"85ed6abe90106b32","type":"function","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"Ajuste de datos","func":"const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.FechaHora,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1200,"wires":[["8df5e22450a0ab33"]]},{"id":"8df5e22450a0ab33","type":"ui_chart","z":"b1b5331ef057c744","g":"e1fd6965ccbc62ea","name":"","group":"443c3e562bc8accb","order":5,"width":9,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1290,"y":1200,"wires":[[]]},{"id":"38940631ed0faccc","type":"function","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"Ajuste de datos","func":"const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.FechaHora,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1380,"wires":[["498421f0febe51b8"]]},{"id":"8af2c80308609cef","type":"function","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"Ajuste de datos","func":"const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.FechaHora,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1500,"wires":[["ae95b04dcbca9b5f"]]},{"id":"be2984880f035179","type":"function","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"Ajuste de datos","func":"const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.FechaHora,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1600,"wires":[["19eef4dabc979844"]]},{"id":"c9fb8e3d3e551d24","type":"function","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"Ajuste de datos","func":"const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.FechaHora,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1760,"wires":[["92ab09f11ad6dad2"]]},{"id":"12d0d779e5c95fb4","type":"function","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"Ajuste de datos","func":"const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.FechaHora,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1880,"wires":[["3b97d8a36754ed18"]]},{"id":"ce0f73b5a61ff4f3","type":"function","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"Ajuste de datos","func":"const inp=msg.payload\nlet count = 1;  // contador de número de muestra\n\nvar outObj=[{\n    series: [\"Valores Sensor\"],\n    data: [[]],\n    lables: [\"\"]\n}]\n\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.FechaHora,\n        y: item.Valor\n    })\n    count++\n}\n\nmsg.payload=outObj\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1980,"wires":[["7c01103e82c5d983"]]},{"id":"44f0433bc81aadcf","type":"function","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"Consulta ultimos 5 DIAS TEMP S2","func":"msg.topic = \"SELECT Valor, FechaHora FROM Datos WHERE SensorVariableId = 4 AND FechaHora >= datetime('now', '-5 days') ORDER BY FechaHora DESC\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1380,"wires":[["23882aeb420e9254"]]},{"id":"d4a3a6bc9cd9f6e3","type":"function","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"Consulta ultimos 5 DIAS TEMP S3","func":"msg.topic = \"SELECT Valor, FechaHora FROM Datos WHERE SensorVariableId = 7 AND FechaHora >= datetime('now', '-5 days') ORDER BY FechaHora DESC\";\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1760,"wires":[["a680fddb58d4ede9"]]},{"id":"99b98a1572c91157","type":"function","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"Consulta ultimos 5 DIAS PRESS S2","func":"msg.topic = \"SELECT Valor, FechaHora FROM Datos WHERE SensorVariableId = 5 AND FechaHora >= datetime('now', '-5 days') ORDER BY FechaHora DESC\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1500,"wires":[["841adf0c3a19aa38"]]},{"id":"dc338285e1d859ba","type":"function","z":"b1b5331ef057c744","g":"195fcbd29037d2cd","name":"Consulta ultimos 5 DIAS HUM_REL S2","func":"msg.topic = \"SELECT Valor, FechaHora FROM Datos WHERE SensorVariableId = 6 AND FechaHora >= datetime('now', '-5 days') ORDER BY FechaHora DESC\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1600,"wires":[["207e4914cc1b2e19"]]},{"id":"504de3edb21720fa","type":"function","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"Consulta ultimos 5 DIAS HUM_REL S3","func":"msg.topic = \"SELECT Valor, FechaHora FROM Datos WHERE SensorVariableId = 9 AND FechaHora >= datetime('now', '-5 days') ORDER BY FechaHora DESC\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1980,"wires":[["44840ebe568d0a20"]]},{"id":"9b8e14b3b36f4e03","type":"function","z":"b1b5331ef057c744","g":"61985f4ec4e4cacd","name":"Consulta ultimos 5 DIAS PRESS S3","func":"msg.topic = \"SELECT Valor, FechaHora FROM Datos WHERE SensorVariableId = 8 AND FechaHora >= datetime('now', '-5 days') ORDER BY FechaHora DESC\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1880,"wires":[["2d8d5bf61c559a02"]]},{"id":"41cdc0c5e5dddaf6","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6","node-red-node-sqlite":"2.0.1","node-red-contrib-coap":"0.8.0","node-red-contrib-ui-media":"2.0.0","node-red-contrib-web-worldmap":"5.7.0"}}]